[2021-04-05 00:51] unbanksy opened #3 "Add links to LP pools"
Users want a convenient and trusted source to access LP pools to add liquidity, swap OHM-DAI, etc.

Requested by Argus-panoptes: https://discord.com/channels/798328113087119371/828424908164956210/828428158478057472

[2021-04-05 01:06] unbanksy opened #4 "Staking vs LP vs Bonding Calculator"
## Problem statement
* Users don't feel comfortable trading their staked OHM for LP staking or bonding.
* Users feel lost as to what returns bonding gives them compared to just staking
* When users continue staking rather than bonding, the protocol loses on opportunities to grow their treasury

## Proposal
Implement a tradeoff calculator that allows user to compare their expected sOHM return if th

[2021-04-05 01:12] unbanksy opened #5 "Discount showing as 0% incorrectly"
"Was checking out the bonding page, but it showed discount as 0%, but I’ve found this is a common theme in defi if you don’t have the token, I’m sure it would show up if I had the sushi LP tokens, any way to show the discount if you don’t? For someone deciding if I go provide LP to bond or buy ohm?"

https://discord.com/channels/798328113087119371/828424908164956210/828434816453181480

![image](ht

[2021-04-05 01:17] unbanksy opened #6 "Add Dune Analytics to website"
A dashboard would help users understand treasury ops but they currently don't have any way to see it in the website. A community member already created a great dashboard. Let's integrate this dashboard in Dash in sidebar:

https://duneanalytics.com/shadow/Olympus-(OHM)

Let's either link or integrate the page.

[2021-04-05 03:05] unbanksy opened #7 "Add mobile responsiveness to web app"
I would imagine a good number of users may visit OlympusDAO on mobile (via Metamask mobile app browser for instance). The current experience makes it impossible to transact (see screenshot).

Proposal: add mobile-responsiveness to the app. There are plenty of libraries out there that automatically do this for various viewports - [Bootstrap 5 HTML/CSS](https://getbootstrap.com/docs/5.0/components/c

[2021-04-05 06:45] beaugunderson commented on #5
i'm on the case
![image](https://user-images.githubusercontent.com/61791/113545900-e3da3800-959f-11eb-886b-2b692a9c1712.png)

[2021-04-06 01:44] olyzeus opened #10 "Add disclaimer when rebonding"
If a user has a bond open already, they should be warned via popup or other means that by rebonding, they will reset their vesting. They should be encouraged to either claim pending rewards first or use a different address.

[2021-04-06 01:47] olyzeus opened #11 "Dashboard bugs"
Cannot scroll, price is cut off (first box), and other tickers (top boxes) are not centered.
<img width="1013" alt="image" src="https://user-images.githubusercontent.com/77356025/113647246-7807d600-9658-11eb-877b-e252b9ba56c5.png">

[2021-04-06 01:47] olyzeus commented on #11
The centering could be a dune thing. If so you can disregard and it is what it is.

[2021-04-06 16:46] unbanksy commented on #11
@olyzeus yea, I wasn't a fan of how this rendered. It's out of our control since Dune chooses the formatting. One recommendation is to avoid fetching price, market cap & supply from Dune. Instead, we can API from Coingecko and render it ourselves. Thoughts?

[2021-04-07 05:44] unbanksy commented on #11
@olyzeus I think most issues are fixed here: https://github.com/OlympusDAO/olympus-frontend/pull/12

[2021-04-09 21:48] #11 closed

[2021-04-09 22:54] #10 closed

[2021-04-11 14:13] unbanksy opened #19 "Add guidance when staking"
It's confusing to stake in OlympusDAO because the app doesn't provide much guidance. Here are some examples I've encountered:
- [ ] If I don't enter any value, clicking Stake does nothing.
- [ ] Clicking 25%, 50% or 75% does nothing but clicking 100% adds a value. Chrome Inspector shows that there is a problem with ethers math
- [ ] If I reject the transaction on my end, app fails silently
- [ ] I

[2021-04-13 17:47] #7 closed

[2021-04-13 18:02] #6 closed

[2021-04-13 18:04] unbanksy opened #22 "Mobile friendly bug fixes"
- [x] Overflow issues for dashboard
- [x] Bond modal overflows into navbar preventing users from redeeming
- [x] Auto-shows dropdowns
![image](https://user-images.githubusercontent.com/81924824/114599386-e1cf4380-9c47-11eb-949b-2e2f355c3a5d.png)

[2021-04-14 06:01] unbanksy opened #28 "Approve button incorrectly shown after approving the contract"
https://discord.com/channels/798328113087119371/827057846717120533/831561157231902771
https://discord.com/channels/798328113087119371/827057846717120533/831683472103440416
https://discord.com/channels/798328113087119371/817567648451133461/831772933831655424

[2021-04-15 22:37] unbanksy opened #29 "UI Improvements"
- [ ] Slightly transparent background
![image](https://user-images.githubusercontent.com/81924824/114942353-41b91c00-9df9-11eb-9b9f-ed488d992457.png)

- [x] Update error message: This is the console error I get when trying to Bond. No issues with Ledger when staking though... :man_shrugging: https://discord.com/channels/798328113087119371/827057846717120533/832277809723474032

- [ ]

[2021-04-16 15:51] #22 closed

[2021-04-16 15:53] #28 closed

[2021-04-16 15:53] #29 closed

[2021-04-18 18:26] unbanksy commented on #19
This issue has been resolved in https://github.com/OlympusDAO/olympus-frontend/pull/36, https://github.com/OlympusDAO/olympus-frontend/pull/38 and https://github.com/OlympusDAO/olympus-frontend/pull/32

[2021-04-18 18:26] #19 closed

[2021-04-18 18:26] #5 closed

[2021-04-20 17:30] unbanksy opened #41 "Add new wallets"
- [ ] WalletConnect
- [ ] TrustWallet

[2021-04-20 22:42] unbanksy opened #44 "Bond Page Improvements"
- [x] OHM logo looks better on white
- [x] Disclaimer when discount is negative: "negative means more expensive ser"
- [x] Full Bond Maturation
- [x] Vesting timeframe block
- [ ]
![image](https://user-images.githubusercontent.com/81924824/116799483-983b8100-aaae-11eb-923c-616a9f0a0727.png)

[2021-05-02 01:58] unbanksy opened #64 "Issues with hardware wallet"
- [ ] this has happened to me before, relogging into metamask and reconnecting hardware wallet fixed it for me
- [ ]
![image](https://user-images.githubusercontent.com/81924824/116799541-097b3400-aaaf-11eb-8ab9-0b1432f2ea0d.png)

[2021-05-03 05:14] #44 closed

[2021-05-13 21:40] unbanksy opened #74 "Fix the 0% rebase rate"
btw if anyone wants to PR into the website to fix the 0% rebase rate, we need to change the addresses of STAKING_ADDRESS here https://github.com/OlympusDAO/olympus-frontend/blob/main/src/helpers/addresses.ts to be 0xce6568338708400d03f430d29f2eb40a33a3f4c4 and also update the abi of OlympusStaking, and also here line 101 https://github.com/OlympusDAO/olympus-frontend/blob/main/src/store/modules/an

[2021-05-13 21:44] unbanksy opened #75 "Treasury Deposit UI"
This is an open-ended task to explore ways to make the website more gamified and interactive. We want to make treasury deposits fun and exciting through a web UI.

- Goals
    - Display and gamify deposits into the treasury
    - Provide easy accessible info about treasury inflows
- Outcomes
    - Greater knowledge of protocol state
    - Excitement around treasury inflows
- Needs
    - Front End

[2021-05-13 21:47] unbanksy opened #76 "Add tooltips to explain key metrics"
Could we get a little tooltip on the website for the current index? That would help reduce support inquiries big time because people don't know what it means. Something like this should do.

"The current index describes the amount of OHM you would have now if you would have staked 1 OHM since the very first rebase"

Source: https://discord.com/channels/798328113087119371/827188488394768394/8402193

[2021-05-14 08:36] DigiMonCodes commented on #76
I'll pick this one up

[2021-05-14 22:16] unbanksy opened #77 "Add auto-stake button"
We have the ability to automatically stake bond redemptions. Autostake button is a button next to redeem that will send the ohm directly to staking. Redeem function is redeem( bool stake )

* if bool is false, its like current redeem where it sends the ohm to them
* if bool is true, it will send it to staking

[2021-05-15 17:51] unbanksy commented on #76
Awesome!

[2021-05-18 18:20] jsnx commented on #74
You can assign this to me.

[2021-05-18 18:53] unbanksy commented on #74
@jsnx Garamundo initially reported this solution here: https://discord.com/channels/838651642190495804/841905788984492063/842481198298955847

I'm not sure if this is even an issue since the contract addresses are up-to-date. Feel free to dig in and submit a PR or close this issue if there's no changes to be made.

[2021-05-21 23:13] unbanksy opened #79 ""Add this token to metamask" message"
When user stakes, we should trigger a MetaMask message "Add this token to MetaMask". Other protocols do this & can be a nice UI improvement.

[2021-05-30 07:12] dropkickdarren opened #83 "Improve UI experience on mobile, Re: Unbanksy"
- Unable to view dashboard through Metamask browser as well as safari (prior to migration).

I'm aware this is an ongoing issue with mobile but i thought i'd just 'bump' to remind :))

[2021-06-14 07:01] ratking2020 opened #90 "Update gitbook to fix typo in first sentence first word of Bonding page"
*Bondig* https://docs.olympusdao.finance/basics/bonding

[2021-06-20 23:56] ratking2020 opened #102 "Add time period to "Reward Yield" on staking page"
The "Reward Yield" field might be confusing if it isn't tied to a time period for example it could be "Reward Yield Per Epoch"

![image](https://user-images.githubusercontent.com/75515868/122692143-d2d3c580-d276-11eb-9313-5ea573c6d646.png)

[2021-06-23 12:35] xh3b4sd opened #146 "default bond slippage too high"
I was wondering why the default bond slippage is set to 2%. For swaps the industry standard became 0.5%. Would it make sense to set the default bond slippage lower as well?

<img width="239" alt="Screenshot 2021-06-23 at 14 33 51" src="https://user-images.githubusercontent.com/552769/123097061-09a10b80-d430-11eb-992b-1e6dc59c21ba.png">

/cc @OlympusDAO/frontend

[2021-06-23 12:43] xh3b4sd opened #147 "gear and cross disappear when scrolling down in bond model"
This is the view when scrolling up.

<img width="1018" alt="Screenshot 2021-06-23 at 14 36 22" src="https://user-images.githubusercontent.com/552769/123098233-3570c100-d431-11eb-8e88-dac4cfabcbbd.png">

This is the view when scrolling down.

<img width="1018" alt="Screenshot 2021-06-23 at 14 36 25" src="https://user-images.githubusercontent.com/552769/123098256-3e619280-d431-11eb-9e7a-0fdde987dd15

[2021-06-23 12:45] xh3b4sd opened #148 "pressing ESC does not close bonding modal"
An issue I personally have is that if I press ESC I intuitively expect the bonding modal to close. Though we do not have key bindings setup it appears. That may be a feature request.

/cc @OlympusDAO/frontend

[2021-06-23 12:45] ohmie33 commented on #146
There is a fix for this coming soon: https://github.com/OlympusDAO/olympusdao/pull/144

[2021-06-23 20:11] Zayen-X opened #151 "Add sOHM to your metamask wallet"
### Definition of Done
* Ohmies can click on a button to view sOHM in their metamask wallet
* Ohmies can view sOHM in their metamask wallet.

[2021-06-23 20:13] Zayen-X opened #152 "Track pending transactions and display on the UI"
### Definition of done
* Ohmies can see that their recent transaction(staking/unstaking/etc) is in progress
* Ohmies can see that their recent transaction has completed.
* The UI updates to reflect these state changes.

[2021-06-23 20:16] dwjanus commented on #148
Is this a bug? Seems more like an enhancement

[2021-06-23 20:31] xh3b4sd commented on #148
Yeah maybe more like a feature request, agree.

[2021-06-23 21:26] dwjanus opened #153 "Stake data row - Add current index to stake page"
Definition of Done
- Current ohm index component rendered under next rebase in staking interface

---> revision
- replace "buy on sushiswap" in top data row with current ohm index and place right-most column (see design)

Needs:
- design for placement/ux of current index element (done)

note: this code already exists in Sidebar.jsx (only viewable in girth mode) Move to Stake.jsx and remove theme f

[2021-06-23 21:44] unbanksy opened #154 "Can't Claim and Autostake"
When I try to click "claim and austostake" button on my FRAX bond, it errors out with:

![image](https://user-images.githubusercontent.com/81924824/123172840-8f25bb00-d432-11eb-831f-e95852e32e96.png)

[2021-06-24 02:12] dwjanus opened #155 "Implement loading states for data blocks"
Definition of done
- placeholder bars/blocks for data areas while loading data or refreshing page
- entering app should display loading screen during initial data fetch
- animate card component display between page changes collapse/slide cards into and out of view on nav events
- Maybe related withh Redux refactor

[2021-06-24 02:14] dwjanus commented on #155
For now app load can be a basic loading wheel or a pulsating ohm symbol, ideally this will be swapped for a custom loading animation in the future

[2021-06-24 18:04] xh3b4sd opened #156 "social buttons do not open in new tab like other links"
Hey frens, just a minor suggestion. The links above all open in a new tab. From a UX PoV my expectation would be that the social buttons at the button follow the same behaviour. Though they open in the same page, which creates a little friction. Not sure if this was an intentional decision, though I would suggest to change that.

<img width="244" alt="Screenshot 2021-06-24 at 20 02 04" src="https:

[2021-06-24 20:30] dwjanus opened #157 "Bond discounts as links"
Description of done
- when i click a bond under the discounts area in the sidebar it should open that bond modal

[2021-06-24 21:21] Zayen-X opened #158 "Redeem all bonds functionality"
**Expected Behavior**:
* Ohmies should be able to click a button on the bond page and redeem **all** their bonds.

Needs:
* UX support for placement of redeem all button.

Helper Contract: https://etherscan.io/address/0xE1e83825613DE12E8F0502Da939523558f0B819E#writeContract

[2021-06-25 14:32] dwjanus commented on #147
This is a result of throwing scroll in at last minute to address an edge case where displays cut off bottom row of data. Ideally the modal will take up more screen space and scrolling wont be needed at all which resolves the disappearing buttons

[2021-06-25 17:35] xh3b4sd commented on #147
I think the consistent size of the modal is ok. The navigational components should just stick to the corner. That should be a simple CSS fix to my knowledge.

[2021-06-26 00:08] dwjanus opened #159 "Cloudflare lambda functions for API v1"
Description of done:
- lambda functions implemented on CloudFlare to allow olympusdao.finance to fetch Total Ohm staked, current APY, and current treasury balance
- ideal endpoint format: api.olympusdao.finance/ or app.olympusdao.finance/api/

example request:
`fetch("https://app.olympusdao.finance/api/v1/treasury.json").then(r => { })`

--> response:
[code]

Note: throttling may be necessary to m

[2021-06-26 00:15] ohmie33 commented on #151
This also requires designing two icons: one for OHM and one for sOHM. Similar to how sushi has sushi and xsushi icons.
Also we should consider whether to have these icons appear for desktop only or also on mobile?
I'm interested in implementing this. I might do a basic version with placeholder icons and only for desktop as a prototype.

[2021-06-26 01:37] ohmie33 commented on #151
Here are some prototypes:

![image](https://user-images.githubusercontent.com/86227877/123497816-af988400-d683-11eb-9216-b19f3bb8efc0.png)

![image](https://user-images.githubusercontent.com/86227877/123497820-b45d3800-d683-11eb-9373-c270195555f7.png)

[2021-06-26 04:49] ohmie33 commented on #151
Metamask screenshot:

![image](https://user-images.githubusercontent.com/86227877/123502134-f6937300-d69d-11eb-8780-92a978eed269.png)

Also renamed tooltip to "Add XXX to Wallet" instead of metamask.

[2021-06-26 05:05] ohmie33 opened #161 "[Feature] More info about staking"
I want to be able to:
- See how many OHMs I'll be getting in the next rebase. Currently, it only shows rebase percentage.
- See the number denominated in $US amount as well.
- See how many OHMs I gained since last time I staked to determine how many OHMs I've earned since then.

Example:

Next rebase is 1%
I have 50 OHM
It shows me that next rebase is 0.5 OHM / $150 (assuming 1 ohm is 300) and I'v

[2021-06-26 11:30] melondrone commented on #148
Started work on this one today and got a base solution up but wanted to check a few things before I push.

- Do we want a flat out esc closes the modal or should we be considering if the user is focused on an input etc?
- Are there any states where we'd want to prevent closing the modal, like mid approval or processing tx?
- Do we want to add click on backdrop to close the modal too?

I've got bas

[2021-06-26 11:50] xh3b4sd commented on #148
Voicing my opinion, I think what you have now sounds like what it should be. I would be rather confused to find out that I focused an element and then the exit does not work. ESC and click on background is the standard as far as I know.

[2021-06-26 12:13] melondrone commented on #148
Sweet as, was most likely over thinking it then. I'll push it up when i get the chance!

[2021-06-26 17:06] ghost opened #162 "[Feature] Code security and quality improvements"
We're a lot of different people touching the code, and combined with the exponential growth of Olympus as a project, I think now would be a great time to implement a few measures to prevent technical debt, errors and just keep the code clean. That's why we have Eslint, after all.

_As they say, prevention is better than cure._

It's not a big issue right now, and I think I can get it done in a mat

[2021-06-26 17:55] ghost commented on #158
Here's a design suggestion.

The button will always be visible.

For those who don't have any redeemable bonds, a modal will pop up saying: "You don't have any redeemable bonds currently."

For those with redeemable bonds, it'll instantly prompt MetaMask asking the user to sign and broadcast the transaction.

![suggestion](https://user-images.githubusercontent.com/71293919/123521609-0c159680-d6b8-

[2021-06-26 19:23] ghost commented on #158
Opened a PR (#163) for this issue (pending approval).

![result](https://user-images.githubusercontent.com/71293919/123523584-c27f7880-d6c4-11eb-864c-94b0a41b5883.png)

[2021-06-26 19:35] ghost commented on #146
Added a commit to #144, seems to work, but currently pending approval. 👍

[2021-06-26 20:00] ghost commented on #154
I just debugged the issue, and first of all, the error code you get (-32000) states that you (the code obv.) either miss or provide invalid parameters to the claim and auto stake function [(1)](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1474.md#error-codes).

However, currently it doesn't seem obvious what the error could be in the code, so I'll have to deploy the FRAX bond to Rinkeby t

[2021-06-26 20:19] ghost commented on #154
Can you try again, @unbanksy?

[2021-06-26 20:24] ghost commented on #156
Fixed and PR opened at #165.

[2021-06-26 20:56] dwjanus opened #166 "[v1.3 - backend] Treasury Dashboard: Supply"
Definition of done:
- subgraph functionality which returns supply metrics upon request
[code]

additional details:

example query:

[2021-06-26 21:04] dwjanus opened #167 "[v1.3 - backend] Implement Apollo Client for Subgraph queries"
Description of Done:

- Apollo Client installed in React app
- subgraph data queries implemented and optimized for application-level data in accordance with v1.3 goals
- existing solution replaced (where applicable) with graph ql requests

[2021-06-26 21:24] dwjanus opened #169 "[v1.2 - infrastructure] Distill CSS into modular components"
Definition of Done:
- mobile/narrow/small queries removed from everywhere but app
- bootstrap fully deprecated
- redundant styles removed/globalized
- button and card components implemented to design spec and existing elements replaced accordingly
- Typography defined and implemented uniformly through material ui theme
- Viewport scaling set at 1:1 and elements sized accordingly
- Theme preserved

[2021-06-26 22:40] ghost opened #170 "[Feature] Add support for Ledger"
We need to support Ledger support outside MetaMask.

### Completion Criteria

* You're able to interact with Olympus through Ledger, without doing so through MetaMask.

### Additional Information

We're currently using web3modal, and a web3modal provider for Ledger already exist, so it should be straight forward to integrate: [@web3modal/ledger-provider](https://www.npmjs.com/package/@web3modal/le

[2021-06-27 01:19] dwjanus commented on #151
Current design (wip)

https://www.dropbox.com/s/rx06b4z6wiri9qg/olympus%20v%201.2.png?dl=0

[2021-06-27 19:50] olyzeus commented on #158
This looks great, but can we keep "All" in there so users easily understand the functionality/difference between that button and single redeem buttons?

Maybe "Redeem All" and "Redeem All & Stake" would work while remaining mindful of space?

[2021-06-27 21:02] ghost commented on #158
@olyzeus

That's a good point! Leaving out "all" definitely gives the impression that there is no difference between redeeming on each bond, and redeeming all at once.

And it doesn't look bad either. I've committed the changes.

![redeem-all](https://user-images.githubusercontent.com/71293919/123559330-a6023f80-d79b-11eb-8cce-21e043ec66a1.png)

[2021-06-27 21:12] ghost commented on #153
How does this look? It's aligned with the rest of the design, but unsure if you want it more or less highlighted.

![example](https://user-images.githubusercontent.com/71293919/123559557-0180fd00-d79d-11eb-9fab-33f27e77df76.png)

[2021-06-27 21:31] ghost opened #172 "[Bug] Provider optimization - When Infura hits limit no blockchain data is available without wallet connect"
### Background

A fellow ohmie wrote the following:

I follow him. It's generally annoying when dapp interfaces look completely broken until you connect your MetaMask wallet to the site.

### Completion Criteria

You should be able to quickly bounce into Olympus' dapp interface and see bond discounts, time until next rebase, current OHM mc etc. etc., even without connecting your MetaMask.

### Sug

[2021-06-27 22:09] ghost commented on #157
I've opened a PR for this issue (#173).

[2021-06-28 16:52] dwjanus commented on #153
New design:
![C25F2A89-630F-43EE-977B-78033BB052E1](https://user-images.githubusercontent.com/20306335/123674489-a6d4b900-d80f-11eb-9bb5-329ed66c2687.jpeg)

[2021-06-28 19:28] dwjanus commented on #155
Material ui animations should work well for base elements (sidebar, paper/main containers)

Perhaps we can explore framer-motion for more complex animations?

[2021-06-28 20:14] Zayen-X commented on #162
+100000000 this issue.

[2021-06-28 20:20] Zayen-X opened #174 "[Fix] OHM/DAI LP staking"
**Current state**:
- LP staking exists ONLY on the vue app with people still staked
- UX is janky and leads people to the old vue app for people who have the old URL: https://olympusdao.finance/#/lpstake

**TODO**:
- [x] Determine future of OHM/DAI SLP staking.

**Definition of done**
- Either we have deprecated LP staking entirely w/ appropriate comms on how to unstake through etherscan or have i

[2021-06-28 20:23] Zayen-X opened #175 "Test Suite"
**Current state**:
- Dev's current manually deploy/QA changes through branches.
- See our experience through v1.1 deploys

**TODO**
- [x] #227
- [x] #225
- [x] #226
- [ ] ???

**Definition of Done**
- We have Happy path testing.
- Devs have increased confidence that their UI changes are not breaking.
- We can more easily make foundational changes.

[2021-06-28 22:52] dwjanus commented on #172
The application is already leveraging the wallet injectedProvider when user connects. The main issue here is with infura request limits and a lack of optimization/throttling for disconnected users.

Currently working on an implementation of apollo client to offload some of the app-level data to subgraph queries which should help.

[2021-06-29 00:39] siferbel opened #176 "Light theme bonds discounts not readable"
On the light theme in the navigation the sub menu on the bonds section the font color is white and not readable. This used to be black or darkish color. This is currently live.

EDIT: The hover is also not functioning properly. Should be a quick css fix or theme.js fix.

<img width="250" alt="Schermafbeelding 2021-06-29 om 02 37 02" src="https://user-images.githubusercontent.com/85319142/123719957

[2021-06-29 00:48] siferbel opened #177 "Light theme hover/active state nav item border-bottom incorrect"
The hover/active state border bottom is not the right color on the light theme for the stake link. Its like darkblue, whilst the others are black.

<img width="230" alt="Schermafbeelding 2021-06-29 om 02 46 47" src="https://user-images.githubusercontent.com/85319142/123720446-68c5ac80-d884-11eb-9f8e-464ea40d37cd.png">

[2021-06-29 00:52] ghost commented on #176
PR ready (#178).

[2021-06-29 01:32] dwjanus commented on #172
[working branch](https://github.com/OlympusDAO/olympusdao/tree/v1_2-172-apollo)

[2021-06-29 03:21] dwjanus opened #180 "[v1.2] Move wallet address to sidebar"
Description of done:
- wallet address button removed from TopBar
- Wallet address displayed as clickable link beneath olympus brand header (same link as original button, wallet etherscan)

![F98A9F55-3A57-4542-A0E2-C8F216AC5EBA](https://user-images.githubusercontent.com/20306335/123732109-67d25200-d867-11eb-8d92-347bcf3723b9.jpeg)

[2021-06-29 03:33] dwjanus opened #181 "[v1.2 - Feature] Update TopBar buttons"
Description of Done
- Ohm drop down implemented to spec, all links work and open in new tab
- buttons reordered: ohm / disconnect / theme
- hamburger menu button styled to match top bar buttons
- theme toggle icons set to solid white or black (dark / light)

new components:
DropDown.jsx
TopBarBtn.jsx (optional)

[Figma](https://www.figma.com/file/f6nDKNgsaQY2qHWKaZQ9yV/app-v-1.2?node-id=12%3A16)

[2021-06-29 05:54] ohmie33 commented on #181
Heya, this is done in: https://github.com/OlympusDAO/olympusdao/pull/160

[2021-06-29 05:54] ohmie33 commented on #180
Also addressed in https://github.com/OlympusDAO/olympusdao/pull/160

[2021-06-29 08:02] ghost opened #183 ""Switch network" alert if user is on the wrong network"
**Is your feature request related to a problem? Please describe.**

When users visit olympusdao.finance, connects their wallet but are connected to a wrong network, the UI bugs out and nothing is showing.

**Describe the solution you'd like**

When a user connects his wallet, we should check if he's on the correct network. If not, prompt a pop up telling the user he needs to connect to Ethereum ma

[2021-06-29 08:04] ghost commented on #177
The PR was merged, closing issue.

[2021-06-29 08:04] #177 closed, assigned to nobody

[2021-06-29 08:04] ghost commented on #176
The PR was merged, closing issue.

[2021-06-29 08:04] #176 closed, assigned to nobody

[2021-06-29 13:34] dwjanus commented on #180
Cool im gonna link that pr then

[2021-06-29 13:41] dwjanus commented on #181
Dupe

[2021-06-29 13:41] #181 closed, assigned to nobody

[2021-06-29 15:24] jojorb opened #184 "[FIX] Approve OHM button should update to Stake OHM when done"
**Describe the bug**
When users need to approve $OHM first and then stake it.
The button "approve OHM" doesn't update to "stake OHM" when the approved tx is successful.
The user needs to refresh manually the page to be able to stake it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/stake` with a wallet that hasn't approved OHM yet
2. Click on `Approve OHM` -> tx on Metamask is a su

[2021-06-29 16:08] dwjanus commented on #172
with current subgraph implementation and apollo in pr #182 we can now get a good portion of global data without relying on infura requests.
this is evident by the bond discounts not appearing while tvl, apy and rebase do. (bond discounts not offloaded to the graph yet)

<img width="1163" alt="Screen Shot 2021-06-29 at 12 04 14 PM" src="https://user-images.githubusercontent.com/20306335/123831666-8

[2021-06-29 17:46] dwjanus commented on #167
Initial implementation as part of v1.2 on #182
which covers dashboard hero cards.

next steps (after subgraph ready):
- add queries for dune chart data
- add queries for bond data

[2021-06-29 20:35] #172 closed, assigned to dwjanus

[2021-06-29 22:38] Zayen-X opened #185 "Handle web3 providers properly with graceful fallbacks"
**Is your feature request related to a problem? Please describe.**
A few problems:
- Users are shown `NaN` when the mainnet infura provider gets rate limited.
- The app doesn't gracefully handle injected providers vs read-only providers.

**Describe the solution you'd like**
- We should have reliable mainnet providers (alchemy, pokt, nodesmith, infura, etherscan, etc)
- Providers should be accessi

[2021-06-30 19:52] ner-33 commented on #151
Find OHM, sOHM metamask assets here,
https://www.dropbox.com/sh/vt55wptgzt1zgi1/AABsn5FrlDT2RqieoJQRLPjNa?dl=0

[2021-06-30 20:06] Zayen-X commented on #174
Going to close this out. Talked with Policy and there was no strong desire to continue supporting LP Staking.
It isn't in the new UI anyway, and it is fine if it disappears from the old app.

[2021-06-30 20:06] #174 closed, assigned to Zayen-X

[2021-06-30 20:08] Zayen-X commented on #157
The PR should have closed this issue. Closing it out.

[2021-06-30 20:08] #157 closed, assigned to dwjanus

[2021-06-30 20:08] Zayen-X commented on #156
The PR should have closed this issue. Closing.

[2021-06-30 20:08] #156 closed, assigned to nobody

[2021-06-30 20:09] Zayen-X commented on #159
Don't think we're doing this. Can we close this?

[2021-06-30 20:09] Zayen-X commented on #154
PR should autoclose. Closing.

[2021-06-30 20:09] #154 closed, assigned to nobody

[2021-06-30 21:59] unbanksy commented on #159
Correct

[2021-06-30 21:59] #159 closed, assigned to unbanksy

[2021-07-01 07:36] dropkickdarren opened #113 "‘Approve staking’ issues"
It seems to be across the majority of devices and browsers

![image](https://user-images.githubusercontent.com/85052715/124084963-e232ea00-da92-11eb-84cf-ab35efee4945.jpeg)

[2021-07-02 00:29] ars0n66 commented on #151
@ohmie33 are you implementing this? If not, mind if I give it a stab?

[2021-07-02 00:59] ohmie33 commented on #151
@ars0n66 this is already implemented in https://github.com/OlympusDAO/olympusdao/pull/160

[2021-07-02 21:53] #151 closed, assigned to ohmie33, ner-33

[2021-07-02 21:53] #180 closed, assigned to ohmie33

[2021-07-03 00:37] ner-33 commented on #161
Find the design proposal here @ohmie33 .
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/app-v-1.2?node-id=226%3A19384

I am proposing that the dollar denomination value NOT be presented front and center. We should make it available as part of tooltip on hover over the sOHM info. This has the advantage of us offering this instant conversion ANYWHERE in the app you see "x sOHM".

Also, recommend

[2021-07-03 23:16] ohmie33 commented on #161
Hey @33ohm33 , regarding the design, I can't seem to access it (says file not found) :( -- dm'ed you on discord.

Yes, happy with your suggestions.

[2021-07-04 10:43] 0xonto opened #114 "UI Blur / font issues"
On Firefox (ubuntu 20.04) the blur does not seem to work as in Chrome.

Also, there is an issue with the font color in the settings (black on black background), both in FF and Chrome/Brave.

![image](https://user-images.githubusercontent.com/85127458/124381904-1a217380-dcc5-11eb-9852-5e9d9c6fec35.png)

[2021-07-04 14:52] dwjanus commented on #184
Pretty sure this is a dupe of the issue in 1.2 regarding button/tx state management

[2021-07-04 17:37] ner-33 commented on #161
What email should i send the Figma invite to @ohmie33?

[2021-07-04 18:55] xh3b4sd commented on #146
I saw the PR to address this issue got merged, though I see that the slippage is still 2% by default in the UI. Do we need to deploy the changes or anything like that? /cc @unbanksy

[2021-07-04 21:35] #161 closed, assigned to ner-33

[2021-07-04 21:35] ohmie33 commented on #161
@33ohm33 oh that was old comment. All sorted now. Thanks.

[2021-07-05 11:52] alcercu commented on #113
Hello! Were you using walletconnect? I ran into the same issue, it seems to be related to walletconnect, since neither the APY nor the TVL are showing up when using it, but they do show up when using MetaMask. I will try later with MetaMask and let you know!

[2021-07-06 07:27] alcercu commented on #113
It works with MetaMask on firefox.

[2021-07-06 14:02] dwjanus commented on #152
In the extra stuff from scaffold-eth there is a Transactor.js that appears to set up a hook for this exact use. Might be worth starting from that code

[2021-07-06 14:06] dwjanus commented on #169
This is nearly done.
working branch: `v1_2-169-cleanup-one`

[2021-07-06 17:31] georgeroman commented on #183
I would like to contribute to OlympusDAO and I think this task is something I could start with.

[2021-07-06 17:35] georgeroman commented on #183
The issue with MetaMask's `wallet_addEthereumChain` RPC is that it can only be used to add and switch to networks that are not listed within the user's MetaMask. For this reason we can't use it to prompt the user to change their network to mainnet, since that's already listed. However, there is a draft EIP (https://github.com/ethereum/EIPs/pull/3326) which would enable this. In the meantime the be

[2021-07-07 06:30] georgeroman commented on #185
I can take this. As part of it I would also like to tackle better provider support - eg. right now changing accounts or networks reloads the page and this looks a bit bad (it's definitely possible to deal with these changes without reloading the page).

[2021-07-07 14:24] #153 closed, assigned to ohmie33, ner-33

[2021-07-08 02:06] dropkickdarren commented on #113
A few users brought the issue up in the main! Unsure whether it's solved now but i think they managed to sort things out

[2021-07-08 02:06] #113 closed

[2021-07-08 14:06] ner-33 commented on #158
Design proposal,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/app-v-1.2?node-id=234%3A11630

[2021-07-08 23:08] Zayen-X commented on #175
@xh3b4sd This is the testing ticket. We haven't fleshed out details, but at the very least "happy path" testing would be ideal. Lets start with the staking view and expand from there.

[2021-07-08 23:57] dwjanus commented on #158
do these display regardless of if a user has bonds to redeem? based on design proposal it looks like we will need to surface the users bond details more globally so we can hide/show the redeem table on the choose bond page depending on if the user has bonds.

https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/app-v-1.2?node-id=234%3A11630

[2021-07-09 00:55] ner-33 commented on #158
Correct.
The claimable section information is personalized for the connected wallet. Hide all irrelevant information.

[2021-07-09 03:34] ner-33 commented on #152
Design proposal,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/app-v-1.2?node-id=220%3A7101

[2021-07-09 11:18] xh3b4sd opened #225 "Add basic tests for button presses & expected behavior (i.e. Approval changes to stake once approval is received)"

[2021-07-09 11:19] xh3b4sd opened #226 "Add integration check on github to run tests to validate PR before Merges"

[2021-07-09 11:19] xh3b4sd opened #227 "[test:unit] all nav menu and view transitions (i.e. clicking dashboard, brings up the dashboard)"

[2021-07-09 20:46] Zayen-X commented on #226
Would `yarn lint` be good enough? i added that to fleek CI

[2021-07-10 15:40] xh3b4sd commented on #226
Code linters and e.g. unit tests are different things. Ideally we want to run both to the extend it makes sense for us. Not all linters are necessary or useful in any given project since we should check what aspects of our code base require certain checks in order to improve real quality.

[2021-07-12 20:54] unbanksy commented on #183
We'd like to display the error message as a MaterialUI snack bar: https://material-ui.com/components/snackbars/

* Transition: Throw in a bottom right, slide transition.
* Content: "You're using an unsupported network. Please switch to Ethereum mainnet"

Discord link: https://discord.com/channels/838651642190495804/838654073464946758/863153664641990696

[2021-07-12 22:25] Zayen-X commented on #226
Yeah for sure. We could also run `yarn test`. Would that be enough or would you thinking more functional/integration tests?

[2021-07-13 13:00] xh3b4sd commented on #226
Running both the lint and test commands would be cool.

[2021-07-13 19:51] Zayen-X commented on #226
Cool. Can add those in. Yarn test fails right now :O

On Tue, Jul 13, 2021 at 6:00 AM xh3b4sd ***@***.***> wrote:

[2021-07-13 22:02] Apo1lo opened #230 "Text overflow"
**Describe the bug**
Text on the stake screen is not shown properly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://app.olympusdao.finance/#/stake'
2. Click on 'N/A'
3. Scroll down to 'N/A'
4. See error

**Expected behavior**
Text box should be made to fit the screen.

**Workarounds (if any)**
/

**Screenshots**
![image](https://user-images.githubusercontent.com/87396397/12553

[2021-07-13 22:23] Apo1lo commented on #230
Another point that may be corrected:
![image](https://user-images.githubusercontent.com/87396397/125532838-6a6af4b0-991e-4a03-91d9-1ec1b4eff34b.jpeg)

[2021-07-14 17:58] siferbel opened #233 "WalletConnect displaying QR code instead of full options"
**Bug description:**
Currently its a bit difficult to connect to your wallet. When you click on the 'Connect Wallet' button the WalletConnect pop up opens, and instead of showing the 4 options to connect, it shows a QR code which is. This issue persists on desktop. Mobile looks good.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app.olympusdao.finance
2. Click on Connect Wallet
3. Th

[2021-07-14 22:50] #169 closed, assigned to dwjanus, ner-33

[2021-07-15 18:59] Zayen-X commented on #166
Is this for the subgraph implementation or integration with the frontend? (i thought we have this already?)

[2021-07-15 22:49] drondin commented on #166
This  was an example of task and I should have created an issue for each graph… but didn’t.

Will create an issue for the only metric that is missing right now and we can close this one.

[2021-07-17 08:09] dropkickdarren opened #238 "Index metric on Olympus dashboard is incorrect"
The Index metric on the Olympus dashboard is showing the incorrect amount. (7.4 as opposed to ~7.2)

Not sure how this is calculated via the Front-end but Sh4dow's dune dashboard is showing the correct amount. Maybe we could use that as the source for the correct indexed amount.

Olympus Dashboard:
![Screen Shot 2021-07-17 at 6 06 39 pm](https://user-images.githubusercontent.com/85052715/126030727

[2021-07-19 03:04] 0xdavinchee opened #239 "Typescript refactor for olympus-frontend"
**Intro**
I believe that refactoring the `olympus-frontend` to utilize Typescript will enable all current and future developers to have a nicer development experience and become much more productive in the long run as having types has multiple benefits: consistent styling and clear and explicit intent.

Coding on a team includes the dual task of expressing to the computer what you want it to do an

[2021-07-19 19:52] dwjanus commented on #238
Could Shadow's be incorrect? looks like it might be one rebase behind. We are pulling the frontend one straight from the Staking Contract.

[2021-07-21 07:27] dropkickdarren commented on #238
Yeh, i thought this was the case but it seems to be on par now!

[2021-07-21 07:27] #238 closed, assigned to nobody

[2021-07-21 11:34] siferbel commented on #230
This issue on the landing page should be resolved. There were some height/structure, this has also been resolved and a notification block has been added in case we want to display some notifications.

[2021-07-21 14:38] #148 closed, assigned to dwjanus

[2021-07-24 00:41] Kyle772 opened #262 "API Ratelimit exceeded infura.io"
**Describe the bug**
API Ratelimit exceeded

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.olympusdao.finance/#/stake
2. Click on connect wallet
3. Connect Wallet
4. Nothing loads
4. Open console see error
Failed to load resource: the server responded with a status of 429 ()

5. Go to network tab read server response
{"jsonrpc":"2.0","id":42,"error":{"code":-32005,"message

[2021-07-24 01:11] dropkickdarren opened #263 "Treasury bal -> MV of treasury assets not in sync"
Description:
The treasury balance on the website and the MV of treasury assets on the dune dashboard are showing a 8 mill difference as of now (dune was queried 2 hours ago).
I'm aware that the AAVE deposit and xSushi may not be showing but there's still a decent chunk that isn't accounted for.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to both Sh4dow's dune dashboard and the Olympus

[2021-07-24 01:24] Zayen-X opened #264 "Link legacy staking page to Gitbook guide on how to unstake LP"
In v1, Ohmies could stake their ohm/dai LP. We have since deprecated that feature and no longer grant rewards. Rather than support that feature in the UI we have a a GitBook Link:
https://docs.olympusdao.finance/using-the-website/unstaking_lp

Needs design input.

[2021-07-24 01:35] Zayen-X opened #265 "State Management Optimizations"
Our state is fragmented and improperly managed across account, app, bond, migrate, and staking.

Currently there are three tiers of state. 1) State that is loaded/changed infrequently (ex: APY) 2) State that is changed on a regular cadence (ex: bond discounts). 3) State that needs to be changed based on user interactions (ex: staked OHM)

Our current state system doesn't account for the frequency

[2021-07-24 01:48] Zayen-X commented on #239
I love it! How are we going to to integrate this with ongoing projects?

[2021-07-24 01:51] Zayen-X opened #266 "Contract Improvements"
**Is your feature request related to a problem? Please describe.**
Its annoying to update contract addresses/ remember where they are

**Describe the solution you'd like**
We have ENS names for our contracts. Use them.

**Describe alternatives you've considered**
Do nothing. Cry everytime you have to change an address and you don't remember if its old or new.

**Additional context**
Bonus points:

[2021-07-24 01:53] Zayen-X commented on #147
@dwjanus Is this Done?

[2021-07-24 02:00] 0xdavinchee commented on #239
Hey so for integrating w/ ongoing projects, I think the best option would be to merge develop into the `ts-refactor` branch every time a new ongoing project is merged into develop and then refactor these new changes as they come.

I agree that the most important priority is FOHMO 3 and by doing it this way will be the smoothest way to roll out the TS changes. I believe we will be able to push out

[2021-07-24 19:31] dwjanus commented on #230
this should now be fixed with text scaling and typography updates from 1.2

[2021-07-24 19:31] #230 closed, assigned to nobody

[2021-07-24 19:32] dwjanus commented on #147
yea this was fixed with the 1.2 updates

[2021-07-24 19:32] #147 closed, assigned to nobody

[2021-07-24 23:12] dwjanus commented on #158
Current development for bond view + claim all bonds can be found here:
https://github.com/OlympusDAO/olympus-frontend/tree/1_3-bonds-view

[2021-07-29 00:12] Zayen-X commented on #265
Can we use Redux Toolkit: https://redux.js.org/redux-toolkit/overview/#purpose? @0xdavinchee

[2021-07-30 00:39] gmbid commented on #152
Happy to take a crack at this one, can I get access to the Figma? 0xGambid@gmail.com

[2021-07-30 02:09] ner-33 commented on #152
Sent you the invite @Gmbid .

[2021-08-02 22:55] Zayen-X commented on #185
The web3Provider context work is done. We need to have reasonable fallbacks.
Is roundrobin okay?

[2021-08-03 03:22] dropkickdarren opened #286 "Max bond % needs to be updated"
**Describe the bug**
The changes to the max bond %'s haven't been updated on the UI

**To Reproduce**
- Go to the website
- Head to the bond section

**Expected behavior**
Update the max bond % so it's in line with the recent policy changes

**Screenshots**
![image](https://user-images.githubusercontent.com/85052715/127952226-7e12f688-891d-4786-843b-e1c911c663a3.png)

**Desktop (please complete th

[2021-08-03 14:14] Zayen-X opened #287 "Refactor Bond implementation"
**Is your feature request related to a problem? Please describe.**
Adding new bonds require changing 10 files and a lot of knowledge about how the codebase works. There are special conditionals for LP bonds vs regular bonds. See https://github.com/OlympusDAO/olympus-frontend/pull/277 for reference.

**Describe the solution you'd like. Include clear acceptance criteria.**
It should be a very simple

[2021-08-04 06:39] unbanksy opened #290 "Changing address for Hades doesn't do anything"
**Describe the bug**

![image](https://user-images.githubusercontent.com/81924824/128133931-7dc95450-b404-4b11-9692-90d84f979e5f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to bond
2. Click cog
3. Change address
4. Proceed to bond
5. Check Etherscan and noticed that the bond was awarded to original address *not* to the changed address

**Expected behavior**
Expectation is that bo

[2021-08-05 00:19] ner-33 commented on #264
Design proposal
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=669%3A19751

[2021-08-05 01:13] ner-33 opened #295 "Alignment - Both selected and unselected nav items should have the icon-text vertical alignment."
You can see that "Bond" and "Dashboard" for example are currently not.

Looks like the line below the selected item is causing that extra spacing for unselected items.

![image](https://user-images.githubusercontent.com/86382254/128275993-f52f1757-ce22-4475-a8c7-93604b7e41ff.png)

[2021-08-05 01:18] ner-33 commented on #295
Figma for reference,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=29%3A44

[2021-08-05 19:57] ner-33 opened #300 "Update Governance asset in the nav bar."
SVG assets,
https://www.dropbox.com/sh/3b5hscnpb2lb6u6/AACxD8Be-jd_EVvqOUqPAduza?dl=0

[2021-08-05 23:11] fishwishes commented on #300
Hey I'm new 👋. No idea how to assign or move these along, but just jumping in to knock out these easy ones.

[2021-08-06 01:34] ner-33 commented on #300
@fishwishes let me know what your email address is so I can invite you to the Figma files.
You will likely run into Figma links in future polish work.

[2021-08-06 01:35] ner-33 commented on #300
@dwjanus can you answer @fishwishes 's question about how to assign the issue to himself and move to a different lane?

[2021-08-06 01:42] dwjanus opened #303 "[Treasury Dashboard] Updated Hero Metrics"
Hero metrics displayed in single card per design spec

AC:
- [ ] Replace multi cards with single data card
- [ ] Data fields (L -> R) Market Cap, OHM Price, Circulating Supply, Current index
- [ ] fields are evenly spaced and mobile responsive
- [ ] data pulled from subgraph api

[figma](https://www.figma.com/file/lOCHLTq1yHfmzNe6N9bGcT/treasury-analytics?node-id=3%3A1379)

[2021-08-06 01:53] ner-33 opened #304 "Implement all hover states following the Figma spec"
Figma for light and dark mode,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=220%3A7101

TO DO

Nav bar on left
- on hover there should be an underline stroke and not color change

Nav bar footer
- update icon on hover color for social icons

Header on top
- no highlight color change state on hover. The mouse cursor to thumb change is enough
- [(i) OHM] on should show the po

[2021-08-06 01:54] ner-33 commented on #304
If you need access to Figma, please leave your email.

[2021-08-06 01:59] dwjanus opened #305 "[Treasury Dashboard] Data Cards"
Replace dune iframe cards with styled data cards using recharts + apollo/subgraph api

AC
- [x] Recharts library installed
- [x] functional chart component and local styles added to /components  under /Chart directory
- [x] charts show loading state while fetching data
- [x] hovering an area of the chart shows a styled tooltip with additional data and legend

Charts:
- [x] TVL (area)
- [x] Market

[2021-08-06 02:02] ner-33 opened #306 "Visual style / animation : On hover popover menu "(i) OHM""
Figma,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=220%3A7101

- the menu should appear on hover instead of on-click
- update layout of items in the popover menu
- update the shadow spec

ANIMATION

On hover : 200 ms fade-in  + move up by 10 pixels to the final position

On mouse-out : 200 ms fade-out  + move down by 10 pixels to the default position

[2021-08-06 02:06] ner-33 opened #307 "Update font colors : light mode only"
Figma,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=226%3A19384

Stake light mode
- APY, TVL, Current Index
- unselected Stake/Unstake tab
- left-nav "Bond discounts"

Farm Pool
- Asset, APR, TVL, Balance

Please ensure that these updates do not impact the dark mode.

[2021-08-06 02:09] ner-33 opened #308 "Stake page : Update APY percentage value to use the comma for better readability"
17397.2% should read like 17,397.2%.

Also apply this rule to "Your Staked Balance" row value.

[2021-08-06 02:14] ner-33 opened #309 "Update font style of the "Note""
Figma,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=226%3A28154

Update the font style for this text,
"Important: The "Approve" transaction is only needed when staking/unstaking for the first time; subsequent staking/unstaking only requires you to perform the "Stake" or "Unstake" transaction."

[2021-08-06 02:15] ner-33 opened #310 "Stake page : Update font size and reduce space between "Stake Unstake" tabs"
Figma,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=226%3A19384

[2021-08-06 02:16] ner-33 opened #311 "Stake page : Input box updates"
Figma,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=226%3A19384

- Remove OHM logo from inside the input box
- Update style and input box height to be the same as the CTA

[2021-08-06 02:17] dwjanus commented on #303
current progress on `treasury-dash` branch

[2021-08-06 02:34] ner-33 opened #312 "Wrong CTA text for Bonds"
Remove the extra "bond" at the end.

![image](https://user-images.githubusercontent.com/86382254/128447305-cafe311a-f376-4d24-929d-4c782c73fbd2.png)

[2021-08-06 02:39] dwjanus opened #313 "Bonds page bug (mobile)"
**Describe the bug**
(Mobile bug)
Bond page does not scroll to the bottom all the way and buttons have duplicate text

**To Reproduce**
Steps to reproduce the behavior:
1. on a phone or tablet go to /bonds
2. scroll to bottom
3. look with ur eyeballs

**Expected behavior**
bottom bond cards should be fully in view and buttons should display as "Bond {asset name}"

**Workarounds (if any)**
Is there

[2021-08-06 02:43] dwjanus commented on #312
https://github.com/OlympusDAO/olympus-frontend/issues/313

[2021-08-06 02:43] #312 closed, assigned to nobody

[2021-08-06 02:43] ner-33 opened #314 "Bond page (Mobile)"
Incorrect,
![image](https://user-images.githubusercontent.com/86382254/128448189-b1609a0f-8074-4126-b4d4-6fc732ae76f5.png)

Expected in Figma : see the DAI bond layout,
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=226%3A27074

[2021-08-06 03:04] ner-33 opened #315 "Theme refactor : Girth knows best!"

[2021-08-06 03:12] fishwishes commented on #300
@33ohm33 thefishwishes@gmail.com

[2021-08-06 10:04] 0xdavinchee commented on #152
Hey so I did a lil research on pending transactions and I have figured out a way of doing it the way we spoke about @dwjanus @lolchocotaco (the connect/disconnect button showing pending). I believe there's a way to do it with alchemy but there are compute costs associated with this.
https://docs.alchemy.com/alchemy/documentation/compute-units
The solution adds a new property in the redux state (tx

[2021-08-06 22:27] dwjanus commented on #314
open PR resolves this

[2021-08-07 00:08] unbanksy opened #319 "Can't claim and autostake ETH & LUSD bonds"
**Describe the bug**
When I try to Claim and Autostake, I get the following error for ETH bond:

![image](https://user-images.githubusercontent.com/81924824/128581328-4c8d955b-30d4-4876-b75f-27e9f3c74531.png)

**Smartphone (please complete the following information):**
Desktop, Macbook Pro

[2021-08-07 18:25] ner-33 commented on #155
Figma
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake-bond?node-id=693%3A19980

Recommending to keep all content that does not rely on datastream to be shown to avoid jerky loads.

[2021-08-07 21:58] #308 closed, assigned to nobody

[2021-08-07 21:58] #300 closed, assigned to nobody

[2021-08-07 21:58] #295 closed, assigned to nobody

[2021-08-07 21:58] #314 closed, assigned to dwjanus

[2021-08-08 01:12] dudemyguy opened #320 "Firefox brower bond window translucent"
When opening a bond window on firefox, the window is translucent and the background does not blur, making interaction difficult. on brave it works well, the background blurs and the bond pop out is opaque.

<img width="974" alt="Screen Shot 2021-08-07 at 8 11 29 PM" src="https://user-images.githubusercontent.com/87278742/128617597-0579682c-a2a1-4494-8b9d-c187731d7acf.png">

[2021-08-10 18:20] nv3ob61 commented on #320
Update src/themes/dark.js line 24 adding 0.9 opacity:

`import { createTheme, responsiveFontSizes } from "@material-ui/core/styles";
import fonts from "./fonts";
import commonSettings from "./global.js";

// TODO: Break repeated use color values out into list of consts declared here
// then set the values in darkTheme using the global color variables

const darkTheme = {
  color: "#FCFCFC",
  gold

[2021-08-10 19:07] ner-33 opened #323 "Offset tab selected state when switching "pages""
![image](https://user-images.githubusercontent.com/86382254/128920298-83e74f78-ce71-47d3-9776-086b39433874.png)

[2021-08-11 21:29] #264 closed, assigned to nobody

[2021-08-13 15:23] ner-33 opened #336 "Remove "sOHM migrated" on Staking page"
Today we show that a walletX has migrated to the new contract,
![image](https://user-images.githubusercontent.com/86382254/129382268-a9eee17a-67a9-4117-98c0-24d926094428.png)

Instead, show that walletY needs to migrate to the new contract,
![image](https://user-images.githubusercontent.com/86382254/129384287-e9b5e901-09cb-4803-9d5a-bd67050fecef.png)

"Migrate sOHM!" should open this url in a new

[2021-08-13 21:36] ffmcgee725 commented on #320
The thing about this issue is we are using 'backdrop-filter' css property to make blur happen when we open the Modal. and according to documentation, this property is not supported by Firefox browser (by default), and has to be manually enabled by client.
![123](https://user-images.githubusercontent.com/51971598/129420780-22197f10-0f9c-4e33-9ad1-6337970c2530.png)

[2021-08-13 22:22] Zayen-X commented on #315
What is this? lol

[2021-08-13 22:38] ner-33 commented on #315
@dwjanus asked to create it like so after our chat 8 days ago.
Agree that it will be a good idea Girth to document what you had in mind for this ticket.

Primarily, I was asking for more granular support of the Olympus design system - type styles. Girth also wanted to clean up theming support for light/dark mode.

[2021-08-13 22:40] Zayen-X commented on #184
@rmsrob This should be addressed on live. can you confirm?

[2021-08-13 22:52] jojorb commented on #184
@lolchocotaco i can see the button changing states quickly so it might be a good sign, but I already approve OHM and I have no new OHM to stake, I don't know how to test it in prod, didn't fork it yet too. Thanks for the heads-up, I will let you choose to close the issue in that regard.

[2021-08-16 05:07] ner-33 opened #344 "Incorrect info in the "In progress" menu during Staking pending"
**Describe the bug**
Instead of showing "Staking OHM" the dropdown shows "Unstaking sOHM"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Staking page'
2. Click on 'Stake OHM'
3. Do wallet approval
4. The status on CTA correctly changes to "Pending..."
5. The dropdown "In progress" shows incorrect information. Screenshot attached.

![image](https://user-images.githubusercontent.com/86

[2021-08-17 00:41] Zayen-X commented on #265
Second phase: is optimizing to clean up app & account .

[2021-08-17 18:35] Zayen-X commented on #319
This is a smartcontract issue. @olyzeus pls set the StakingAddress on the ethbonds :)

[2021-08-17 19:49] #155 closed, assigned to dwjanus, ner-33

[2021-08-20 04:10] #265 closed, assigned to Zayen-X

[2021-08-22 21:48] goatsOnDrugs commented on #320
I cant assign this to myself but I am going to fix it.

[2021-08-24 00:10] acidpunk0x opened #370 "State Management Optimizations Part 2"

[2021-08-24 13:47] xh3b4sd commented on #146
This one is fixed now.

<img width="131" alt="Screenshot 2021-08-24 at 15 46 55" src="https://user-images.githubusercontent.com/552769/130628072-2de8a9b7-bbbc-4797-bd53-5eb495adb25e.png">

[2021-08-24 13:47] #146 closed, assigned to nobody

[2021-08-25 03:04] #306 closed, assigned to goatsOnDrugs

[2021-08-26 18:10] goatsOnDrugs commented on #344
This was fixed in another PR

[2021-08-27 02:15] #320 closed, assigned to goatsOnDrugs

[2021-08-27 04:41] appleseed-iii commented on #233
This issue no longer exists in my testing. Good to close?
@siferbel

[2021-08-27 18:08] appleseed-iii commented on #233
nvm I see it in chrome.

[2021-08-28 07:24] Zayen-X commented on #370
@ohmygirth is this covered by this PR: https://github.com/OlympusDAO/olympus-frontend/pull/381

[2021-08-31 11:04] xh3b4sd opened #396 ""You Will Get" on bonding page seems inacurate"
**Describe the bug**

We got reports that "You Will Get" in the bonding page is unresponsive or wrong. In my case I do not have any DAI and it says I get a certain amount. If I put 1000 DAI the amount "I will get" stays the same.

<img width="790" alt="Screenshot 2021-08-31 at 13 00 20" src="https://user-images.githubusercontent.com/552769/131491200-c297c205-bff2-4890-87e5-c86fe811862f.png">

**Ex

[2021-08-31 18:49] #307 closed, assigned to goatsOnDrugs

[2021-09-01 23:49] jojorb opened #400 "time to next rebase should be in real time"
Right now the time to next rebase is static and update when reloading the page only.

We can let you see the actual time left until the next rebase as a countdown running.

[2021-09-02 02:26] acidpunk0x opened #401 "Update Splash Page and App Page with Canny Icon and URL"
**Describe the solution you'd like. Include clear acceptance criteria.**

- Given I am on the splash screen (https://www.olympusdao.finance/#/), when I want to submit a suggestion, I am able to click on the link and go to the Canny page (https://olympusdao.canny.io/)
- Given I am in the Olympus app, when I want to submit a suggestion, I am able to click on the link and go to the Canny page (https:

[2021-09-02 16:49] spaceturtleship commented on #304
Just got access to Figma, so I'll get started on this!

[2021-09-03 01:57] #309 closed, assigned to goatsOnDrugs

[2021-09-04 09:39] spaceturtleship commented on #396
Closed my PR related to this, but there's a fix in #404

[2021-09-04 10:34] spaceturtleship opened #407 "prettifySeconds adds unnecessary ending comma in some conditions"
Just noticed this while working on getting time to next rebase display to update in real time.

Line 74 - 76 in src/helpers/index.js:

[code]

If, for example, there are exactly 8 hrs, it will display "8 hrs," rather than "8 hrs".

[2021-09-06 11:11] #407 closed, assigned to spaceturtleship

[2021-09-07 18:19] #400 closed, assigned to spaceturtleship

[2021-09-08 20:03] SeanDonachiue commented on #313
can't reproduce on android in chrome. On mac, get a blank white page for bonds when I resize the window small. seems like its a safari compatibility issue.

[2021-09-09 06:55] spaceturtleship commented on #396
Fix from #404 is now live!

[2021-09-09 15:20] xh3b4sd commented on #396
It looks like the default state is still broken. If there is no input provided the OHM you will get should be zero. Can you confirm?

<img width="760" alt="Screenshot 2021-09-09 at 17 20 01" src="https://user-images.githubusercontent.com/552769/132714325-38a2f1a4-f221-468a-8317-bcc7ff21fff6.png">

[2021-09-09 20:19] SeanDonachiue commented on #313
Never mind, issue reproduced on android chrome browser as well.

[2021-09-10 08:09] spaceturtleship commented on #396
Somehow forgot about the default state, my bad. Should be a quick fix, will take a look now!

[2021-09-12 01:20] #401 closed, assigned to casuwu

[2021-09-17 11:17] kschan6 commented on #319
As of 17 September, the Claim and Autostake function for wETH bond still throws an error:

![claim_stake](https://user-images.githubusercontent.com/10302165/133773840-729aeb46-d3bd-4e1b-b3ee-c3192884daee.png)

[2021-09-19 12:30] kschan6 opened #449 ""Add Token to Wallet" feature does not work"
**Describe the bug**
Couldn't add OHM or sOHM token address to my Metamask wallet via the "OHM" menu on the Olympus application page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Olympus application page](https://app.olympusdao.finance/#/stake)
2. Connect Metamask wallet
3. Click on "OHM" menu on the top-right of the page
4. Under the "ADD TOKEN TO WALLET" section, click OHM or sOH

[2021-09-19 13:53] appleseed-iii opened #450 "Metamask browser redirecting `dashboard` to dune.xyz"
**Describe the bug**
Anytime I navigate to the Olympus dashboard it’s automatically redirecting me to dune.xyz.
Then I have to go navigate back and reload to see anything

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `app.olympusdao.finance`
2. Click on `dashboard`
3. You will be relocated to dune.xyz

**Expected behavior**
View the dashboard within `app.olympusdao.finance` rather th

[2021-09-19 15:20] appleseed-iii commented on #449
This has something to do with the `image` param. If we make `image` an empty string here: https://github.com/OlympusDAO/olympus-frontend/blob/develop/src/components/TopBar/OhmMenu.jsx#L25

the add token request will succeed.

[2021-09-21 02:39] #290 closed, assigned to spaceturtleship

[2021-09-21 08:22] 0xfffxfff commented on #319
Can confirm this. The same thing happens to me.

[2021-09-21 13:55] appleseed-iii commented on #449
fixed in https://github.com/OlympusDAO/olympus-frontend/pull/448#event-5330101912

[2021-09-21 19:42] Zayen-X commented on #449
Fixed with #448

[2021-09-21 19:42] #449 closed, assigned to appleseed-iii

[2021-09-21 19:44] Zayen-X commented on #344
@JoeyR84 do you konw which one so we can reference it to close it out?

[2021-09-21 21:04] appleseed-iii commented on #450
appears to be fixed in: https://github.com/OlympusDAO/olympus-frontend/pull/456

[2021-09-22 20:58] goatsOnDrugs commented on #344
@lolchocotaco I think this one but not sure. the line of code i think is responsible was last touched by this one at least. `265 state management optimizations with Redux Toolkit (#333)`

[2021-09-22 20:59] goatsOnDrugs commented on #344
https://github.com/OlympusDAO/olympus-frontend/pull/333

[2021-09-22 21:38] #336 closed, assigned to nobody

[2021-09-23 13:05] appleseed-iii commented on #396
@spaceturtleship this is all fixed, right? Can close this issue?

[2021-09-23 13:06] #450 closed, assigned to appleseed-iii

[2021-09-23 13:07] appleseed-iii commented on #262
@lolchocotaco I think this issue can be closed. Please confirm.

It's an ongoing fix, which hopefully is permanently fixed with the node.

[2021-09-23 13:10] appleseed-iii commented on #344
just confirmed. Good stuff, @JoeyR84

[2021-09-23 13:10] #344 closed, assigned to goatsOnDrugs

[2021-09-23 13:50] xh3b4sd commented on #396
I cannot reproduce the issue anymore in production. To me it appears the expected behaviour has been implemented properly. Thanks guys.

[2021-09-23 14:04] appleseed-iii commented on #396
Yes, looks good on my end as well. Closing.

[2021-09-23 14:04] #396 closed, assigned to nobody

[2021-09-23 14:46] #323 closed, assigned to dwjanus

[2021-09-23 18:14] spaceturtleship commented on #396
Ah yeah, sorry about that, got merged in to develop a few days ago and I forgot to close this :)

[2021-09-24 20:05] CyJackX opened #467 "LUSD Bonding Contract & ETH Bonding Contract needs Staking Contract set"
Auto-Stake & Claim doesn't work without setting the staking contract.
Cheers.

[2021-09-25 17:19] appleseed-iii commented on #467
https://etherscan.io/address/0xe1e83825613de12e8f0502da939523558f0b819e#writeContract

LUSD Contract: 0x10C0f93f64e3C8D0a1b0f4B87d6155fd9e89D08D

[2021-09-25 17:36] CyJackX commented on #467
Ah.  Wonderful as a stop gap for now.  Perhaps this should be integrated with the frontend.

[2021-09-25 17:47] CyJackX commented on #467
Seems to only support 4 bonds right now, and requires policy to push the bond to the contract anyway?  So I guess must still wait on policy/multisig to push that on the redeemhelper or the actual contract.

[2021-09-25 17:55] appleseed-iii commented on #467
yes, you're right. I'm chasing that.

[2021-09-26 20:47] appleseed-iii commented on #287
feels like this issue can be closed @lolchocotaco ?

[2021-09-27 03:31] appleseed-iii commented on #313
@ohmygirth I don't have an iPhone 12 but in an emulator this bug appears to be resolved on the current develop branch. Can you confirm?

[2021-09-29 05:42] appleseed-iii opened #489 "Iphone Browsers don't like the websocket connections"
**Describe the bug**
Iphone Browsers (chrome & safari) can't connect via websocket to the node.

**To Reproduce**
Open app.olympusdao on your iphone.
Connect your wallet.
AccountSlice doesn't load.
Safari web inspector says:

**Expected behavior**
AccountSlice should load

**Workarounds (if any)**
Iphone Metamask browser

**Screenshots**
![image](https://user-images.githubusercontent.com/80423742/

[2021-09-29 14:26] mread commented on #489
Also getting this from Brave browser on Windows.

[code]

[2021-09-29 14:39] mread commented on #489
Possibly related to Wallet Connect? In that if I disconnect then the CORS error goes away and the dashboard page renders perfectly. Error propogation not right maybe?

[2021-09-29 14:56] appleseed-iii commented on #489
Thank you for reporting this. I'm seeing it now too on chrome based browsers. Mac Brave works fine.

[2021-09-29 15:43] mread commented on #489
You're welcome, let me know if I can give you anymore useful information. For me issue  disappears if I disconnect my Wallet  Connect connection.

[2021-09-30 21:28] appleseed-iii commented on #489
we're going away from websockets in https://github.com/OlympusDAO/olympus-frontend/pull/490

[2021-10-02 13:21] ratking2020 opened #499 "Bond Pendle Max button does not return max amount"
Clicking the max button in the Pendle bonding page does not return max amount of SLP for bonding (only returns smaller number) - has to by manually entered.

[2021-10-02 23:58] onbjerg opened #500 "Gnosis Safe support"
**Is your feature request related to a problem? Please describe.**

It is currently not possible to interact with Olympus using a Gnosis Safe due to some missing things in the app's manifest.

**Describe the solution you'd like. Include clear acceptance criteria.**

I'd like to update the manifest to allow people to interact with Olympus using Gnosis Safe. To do this, an SVG version of the logo is

[2021-10-05 01:24] ratking2020 opened #510 "OP - FRAX-WETH bond completion screen records 7 days rather than 14"
OP - FRAX-WETH bond completion screen states waiting period will be 7 days - the correct period is 14 days.

[2021-10-05 05:46] casuwu commented on #499
<img width="676" alt="Screen Shot 2021-10-05 at 1 46 22 AM" src="https://user-images.githubusercontent.com/25911292/135967240-ef4c3a6a-4e07-4e83-b32e-1b236c7ef496.png">

On Rink, looks to be just fine?

[2021-10-05 05:53] #152 closed, assigned to 0xdavinchee, dwjanus, ner-33

[2021-10-05 05:54] #158 closed, assigned to dwjanus, ner-33

[2021-10-05 05:54] #162 closed, assigned to nobody

[2021-10-05 05:54] #185 closed, assigned to Zayen-X

[2021-10-05 05:56] #262 closed, assigned to nobody

[2021-10-05 05:56] #310 closed, assigned to nobody

[2021-10-05 05:57] #311 closed, assigned to nobody

[2021-10-05 13:09] #489 closed, assigned to appleseed-iii

[2021-10-07 01:38] appleseed-iii commented on #500
It looks like to me we would have the following steps:

1. add keys to manifest per your link above.
2. integrate safe-app web3Modal per the flow chart here: https://github.com/gnosis/safe-apps-sdk
3. users could then add the app to their gnosis via the ipfs link as described here: https://help.gnosis-safe.io/en/articles/4022030-add-a-custom-safe-app

Do I understand that right?

[2021-10-07 15:08] appleseed-iii commented on #313
appears to be fixed on all mobile devices

[2021-10-07 15:08] #313 closed, assigned to nobody

[2021-10-07 20:01] onbjerg commented on #500
Yes. If this is deployed to app.olympusdao.finance people would also be able to add the app that way, though.

[2021-10-12 04:12] #184 closed, assigned to nobody

[2021-10-12 14:51] spaceturtleship commented on #510
@ratking2020 just fixed this on OP, waiting for it to be merged and deployed :)

[2021-10-12 14:51] #510 closed, assigned to nobody

[2021-10-15 01:00] agrahamg opened #544 "Add Claim and Stake for a single bond"
**Is your feature request related to a problem? Please describe.**
I would like to be able to Claim and Stake claimable ohm from a single bond in the Your Bonds section on a non mobile display.

**Describe the solution you'd like. Include clear acceptance criteria.**
Add another button next to or below Claim in the Your Bonds section. Something like:
![image](https://user-images.githubusercontent.

[2021-10-15 12:44] appleseed-iii opened #545 "UI Responsiveness Fixes - modify breakpoints"
**Describe the bug**
Some breakpoints need to be tweaked. See screenshots below.

**To Reproduce**
Modify window width on Bonds & Stake screens until you see the view overflow the screen width. Modify the breakpoints to fix.

**Expected behavior**
The view should not overflow the horizontal width of the window.

**Screenshots**
Bonds (Bonds buttons are overflowing):
![image](https://user-images.gi

[2021-10-15 16:07] JanaTod commented on #545
Hi, can I work on this issue?

[2021-10-15 16:13] appleseed-iii commented on #545
yes, please do. Let me know if you need anything to be successful.

[2021-10-16 03:45] nabioz commented on #545
Hey @JanaTod, sorry I didn't see that you were also working on this issue. We can discuss solutions when you are done if you want

[2021-10-18 00:16] ratking2020 opened #550 "x"

[2021-10-18 00:47] Boywolf55 opened #551 "Proposed update to website copy - feedback from Scott Lewis"
Following feedback from Scott Lewis https://twitter.com/scott_lew_is/status/1449002623210766355 propose to replace the words on the landing page “We’ve created a currency that is able to constantly grow purchasing power despite market conditions.” with the words “OHM aims to grow purchasing power in a variety of market conditions”.

Also update the following:
![image](https://user-images.githubuse

[2021-10-18 00:48] #550 closed, assigned to nobody

[2021-10-18 00:48] ratking2020 commented on #550
x

[2021-10-18 15:02] appleseed-iii commented on #499
@ratking2020 quick question: On Olympus Pro the max button will only return the lesser of (Remaining Bonding Capacity for that specific SLP at that snapshot in time) & (your SLP balance). So if you have more SLP balance than there is bonding capacity for that SLP the Max button will return a lesser number. I believe this is what happened in your case. Can you please let me know if there is somethi

[2021-10-19 14:49] 0xLienid opened #555 "3,3 Together user odds don't update on clicking "max""
On the 3,3 Together dashboard, when a user selects "max" to deposit it does not update or show the user's odds if they were to submit that much. If you enter a value manually it does.

This issue was raised in the general-dao channel. I can handle it, just wanted to list it here.

When you press max:
![33-together-max-deposit](https://user-images.githubusercontent.com/92545857/137934833-70de4023-6

[2021-10-19 17:31] 0xLienid commented on #555
@ohmygirth

[2021-10-19 17:56] #555 closed, assigned to 0xLienid

[2021-10-20 17:45] #545 closed, assigned to nobody

[2021-10-27 20:26] akkikumar72 commented on #551
Can I work on it?

[2021-10-29 18:11] appleseed-iii commented on #551
That copy is not part of this repo; it's part of the landing-page repo. You should coordinate with @siferbel for that.

[2021-10-29 18:13] appleseed-iii commented on #183
This issue is resolved
![image](https://user-images.githubusercontent.com/80423742/139482767-e4d4fc28-b44f-4a4e-abaa-996220bf092a.png)

[2021-10-29 18:13] #183 closed, assigned to nobody

[2021-10-29 18:16] appleseed-iii commented on #467
superceded by https://github.com/OlympusDAO/olympus-frontend/issues/319

[2021-10-29 18:16] #467 closed, assigned to nobody

[2021-10-29 18:59] goatsOnDrugs opened #598 "[test:unit] App Dashboard Calc"
1. treasury balance
2. APY

[2021-10-30 09:37] akkikumar72 commented on #551
You are right, I couldn't find this text anywhere in this repo.
@siferbel can you help me redirect to the landing page repo?

[2021-11-02 06:21] 0xYoung opened #608 "Dashboard only showing data from Nov"
**Describe the bug**
Dashboard on the main site only displays data in November, currently only showing 2 days worth of data.

**Screenshots**
![Screenshot 2021-11-02 142136](https://user-images.githubusercontent.com/49186329/139796231-85d52036-37b0-41ea-9230-bfa4c2fa2d69.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Chrome
 - Version 94.0.4606.81

[2021-11-03 16:36] appleseed-iii commented on #608
that was a temporary result of resyncing the graph. Resolved for now.

[2021-11-03 16:36] #608 closed, assigned to nobody

[2021-11-07 20:03] appleseed-iii opened #619 "Disconnected wallet should load "Connect Wallet" btn rather than skeleton on Bond Purchase view"
**Describe the bug**
When the Bond Purchase view is loaded with a Disconnected wallet the app is stuck with a skeleton (see screenshot) rather than a "Connect Wallet" button. "Connect Wallet" should be shown instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the app with a disconnected wallet
2. From the Bonds view click Bond on any bond row. Or from the Sidebar click any bond row

[2021-11-07 21:22] appleseed-iii opened #620 "Bond Modal (firefox girth theme only) - z-index & transparency issues"
**Describe the bug**
Transparency doesn't work correctly since firefox doesn't support backdrop-filter. Also the z-index is wrong somehow & the x-box is not clickable. See screenshot.

**To Reproduce**
Open a bond modal.

![image](https://user-images.githubusercontent.com/80423742/140662293-fa857048-6a9c-4bd8-8a43-bb6b0b5e1a4f.png)

[2021-11-08 03:33] appleseed-iii commented on #620
fixed in https://github.com/OlympusDAO/olympus-frontend/pull/618

fix:
![image](https://user-images.githubusercontent.com/80423742/140680169-09020da3-f0fe-441a-8864-a95ecd0b2dc8.png)

[2021-11-08 03:33] #620 closed, assigned to nobody

[2021-11-08 10:43] Vienio99 commented on #619
can I take that one?

[2021-11-09 00:04] wollemipine opened #627 "Add wsOHM staked with FiatDAO to Olympus Staking page"
**Is your feature request related to a problem? Please describe.**
Currently wsOHM which are deposited to [fiatDAO](https://app.fiatdao.com/rewards/wsOHM) do not show up in the olympus staking UI. Seeing wsOHM balance in the UI and then seeing it disappear is scary for users who are not aware the wsOHM is being deposited into an external smart contract.

**Describe the solution you'd like. Include

[2021-11-10 16:31] goatsOnDrugs opened #636 "Stake: unit tests"
1. balances
2. approval validation/display

[2021-11-10 16:32] goatsOnDrugs opened #637 "bonds e2e tests"
assigned: biwano

[2021-11-10 16:32] goatsOnDrugs opened #638 "stake e2e tests"
assigned: goats_on_drugs

[2021-11-10 16:32] goatsOnDrugs opened #639 "top bar e2e tests"

[2021-11-10 16:32] goatsOnDrugs opened #640 "[test:unit] bonding UI flows"
1. balances
2. calculator results
3. cost of bond based on the asset & behavior for max available bonds
4. approval validation/display
assigned: biwano

[2021-11-10 16:32] goatsOnDrugs opened #641 "Side nav e2e tests"

[2021-11-10 16:32] goatsOnDrugs opened #642 "test that all views load: need more details"

[2021-11-10 16:32] goatsOnDrugs opened #643 "Find a way to increase synpress timeout or perform tests on a private blockchain to increase robustness"

[2021-11-10 16:33] goatsOnDrugs opened #644 "Figure out a way to remove waits before some metamask interactions"

[2021-11-10 16:33] goatsOnDrugs opened #645 "Strategy to make dom elements addressable? class? id? aria-label?"
id for unique elements, css class for groups, data-testid if needed

[2021-11-10 16:33] goatsOnDrugs opened #646 "stake integration tests"

[2021-11-10 16:33] goatsOnDrugs opened #647 "bonds integration tests"

[2021-11-11 13:09] appleseed-iii commented on #619
resolved in https://github.com/OlympusDAO/olympus-frontend/pull/621

[2021-11-11 13:09] #619 closed, assigned to nobody

[2021-11-11 17:57] 0xJem commented on #638
Implemented in this branch: https://github.com/OlympusDAO/olympus-frontend/tree/test/puppeteer

(I'll reference the issue when I create the PR.)

What is the base branch for these tests, @JoeyR84 ? I'll create the PR to merge into that.

[2021-11-11 17:58] 0xJem commented on #645
If we continue to use puppeteer, the `id` field is the easiest to use. e.g. in this line it refers to the connect wallet button in the staking page: https://github.com/OlympusDAO/olympus-frontend/blob/edb6d71d7784e33f6adaff64dc00c4b8d00cb36f/src/views/Stake/stake-e2e.test.ts#L23

[2021-11-11 17:59] 0xJem commented on #646
How is this different to e2e tests?

[2021-11-11 18:00] 0xJem opened #653 "Present code coverage after every commit to a PR"
The change in code coverage should show up in the body of the PR.

[2021-11-11 18:00] 0xJem opened #654 "Run e2e tests after every commit to a PR"
The results of the e2e tests should show up in the body of the PR

[2021-11-11 18:02] 0xJem commented on #654
This will require:
- Running the Olympus smart contracts on a local testnet
- Being able to deposit ETH and OHM into a wallet on the local testnet
- Running the Olympus frontend (probably in a Docker container)
- Running the e2e tests against the frontend

[2021-11-11 18:03] 0xJem opened #655 "Smart contracts are deployed to local testnet"

[2021-11-11 18:03] 0xJem opened #656 "ETH and OHM can be deposited into the local testnet wallet"

[2021-11-11 18:03] 0xJem opened #657 "Olympus-frontend runs in Docker container"

[2021-11-11 18:08] goatsOnDrugs commented on #646
I think this was based on the old idea that we were going to have integration tests with everything mocked and live e2e tests. I dont think we need this one anymore.

[2021-11-11 18:10] goatsOnDrugs commented on #638
Awesome, We were using test/227d but that branch is still using cypress. we may want to create a new base branch with puppeteer and use that one.

[2021-11-11 18:12] goatsOnDrugs commented on #645
ok, cool. yea, I think id is best too.

[2021-11-12 07:07] wKich commented on #657
Could you describe, what benefits it brings? In CI tasks already run in containers. While working with the project there is pretty enough to run `yarn start`. So maybe I miss something

[2021-11-12 10:40] 0xJem opened #662 "yarn test:unit command does not work out of the box"
I have not run the `yarn test:unit` command before, and it failed on the first run.
[code]

If there are manual steps required, these should be mentioned or ideally automated.

[2021-11-12 10:43] 0xJem opened #663 "yarn test:e2e should support specifying the testnet to run against"
Previously it ran against Rinkeby
Now it runs against a testnet.
This should be configurable.

[2021-11-12 15:06] appleseed-iii opened #666 "Add wrapping calculator wsOHM -> sOHM & sOHM -> wsOHM"
**Is your feature request related to a problem? Please describe.**
Currently when wrapping sOHM into wsOHM it is not intuitive how much wsOHM you will get. The opposite is also true; when unwrapping 1 wsOHM how much sOHM will I get?

**Describe the solution you'd like. Include clear acceptance criteria.**
A solution would be to perform the calculation when the user edits the input field & return a

[2021-11-12 15:10] #287 closed, assigned to nobody

[2021-11-12 15:24] wenfix commented on #666
Picking this up

[2021-11-12 22:43] #666 closed, assigned to wenfix

[2021-11-13 18:38] 0xJem opened #675 "Create tests with alternative wallets"
E.g. Trust Wallet, Coinbase Wallet,

[2021-11-16 01:49] Zayen-X commented on #287
oh yyeah. LOL this is old news.

[2021-11-16 23:08] appleseed-iii commented on #627
Looks like they have a modified `balanceOf` function. Pass in the user & the wsOHM address.
![image](https://user-images.githubusercontent.com/80423742/142080575-7d207c2f-c1ee-458b-a9d7-dea361b889fd.png)

[2021-11-17 18:05] 0xJem commented on #655
Hiccup in this. Deploying contracts v1.1 is painful and requires a lot of setup, according to @ind-igo . Pausing this until v2 is done in a week or two.

[2021-11-18 10:55] wKich commented on #645
I think it will be better to create page objects, so you can't need to deal with ids or call `await element.evaluate(e => e.innerText)` to assert text content. And your API will be like this `Button('Stake').click()` or `expect(await Button({ id: 'stake-button' }).text).toEqual('Stake')`

[2021-12-01 03:04] #627 closed, assigned to nobody

[2021-12-01 03:33] brightiron commented on #662
This error is likely caused by a missing hardhat.config.js file. Running `npx hardhat` in the project dir and selecting  `Create an empty hardhat.config.js` should resolve this. The hardhat config would also of course need to be committed to the repo.

[2021-12-03 12:31] bigint opened #799 "Show ENS name in UI if owned"
**Is your feature request related to a problem? Please describe.**

It would be great if we show the ENS name if the user has it

**Is any UX Design input needed?**

We just gonna replace the address with ens name

Now

<img width="240" alt="Screenshot 2021-12-03 at 5 59 21 PM" src="https://user-images.githubusercontent.com/69431456/144602685-e5d43cf1-fe88-4645-86c1-12b9ed14ffb3.png">

After

<img

[2021-12-03 20:11] greg-schrammel commented on #799
yo @appleseed-iii what do you think? I can do this one

[2021-12-04 06:53] bigint commented on #799
Avatar is cool though 😄

![image](https://user-images.githubusercontent.com/69431456/144700716-5ad61368-664d-44e7-803c-4b4b6f466a56.png)

@greg-schrammel this is the hook used by Uniswap FYR: https://github.com/Uniswap/interface/blob/main/src/hooks/useENS.ts

[2021-12-11 03:21] appleseed-iii commented on #370
august was a different codebase at this point kek. issue no longer relevant

[2021-12-11 03:21] #370 closed, assigned to nobody

[2021-12-11 03:21] #166 closed, assigned to drondin

[2021-12-11 04:11] #167 closed, assigned to dwjanus

[2021-12-11 04:12] #551 closed, assigned to nobody

[2021-12-11 06:59] sasicodes commented on #799
Is this issue still open? Shall I do this?

[2021-12-15 04:42] da1z opened #911 "can not unstake value with large decimal"
**Describe the bug**
Can not unstake value with large decimal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to unstake
2. input 1.003041478457148
3. click unstake
4. nothing happens, console error
12.c7cbeb06.chunk.js:2 Uncaught (in promise) Error: fractional component exceeds decimals (fault="underflow", operation="parseFixed", code=NUMERIC_FAULT, version=bignumber/5.5.0)
    at e.valu

[2021-12-17 06:21] sasicodes commented on #799
https://github.com/OlympusDAO/olympus-frontend/pull/939

[2021-12-18 20:55] ivelin commented on #799
Looks like this one should be closed since #939 was merged ?

[2021-12-18 20:57] ivelin commented on #675
Is anyone working on this issue? I might be interested to dive in if noone else is.

[2021-12-18 21:35] 0xJem commented on #675
You're welcome to! Please assign it to yourself if you do work on it.

[2021-12-18 23:33] stefanveliki opened #960 "When attempting to initiate a stake, TrustWallet shows amount of 0 yet it charges gas fees."
**Describe the bug**
I am attempting to stake 1 OHM using your website, however when approving the stake in my wallet it is reported as 0 OHMs - I get charged the gas fee yet there is no staking completed.
When you go back to your website with the wallet connected, you will see 0 staked, and the original amount still is unstaked.

**To Reproduce**
Go to https://app.olympusdao.finance/#/stake and c

[2021-12-19 18:13] ivelin commented on #675
@0xJem I'll get started.

I don't seem to have permission to assign to myself. Screenshot attached.

<img width="1087" alt="Screen Shot 2021-12-19 at 12 09 50 PM" src="https://user-images.githubusercontent.com/2234901/146685902-6c205028-9593-440e-b14d-c5161d8373cc.png">

[2021-12-20 21:52] ivelin commented on #675
@0xJem FYI. Looking through the code today.

Nice to see a one-click experience from repo to a running gitpod instance.

Test-wise, in the default `develop` branch, I only see one test and it currently fails.

Am I looking at the wrong branch? There is not much info in README.md about branch conventions and unit test code organization. Any guidance would be appreciated. Thank you!

[code]
![Screen

[2021-12-21 06:44] hlaporthein opened #981 "Internal JSON-RPC error in migration"
**I got internal json-rpc error in migration**
I switch my **wsohm** to **gohm** in avalanche network. Whenever I switched, I got _**internal JSON-RPC**_ error.
- I thought it was gas fee error. So, I added many gas fee, it doesn't work.
- And I thought device error, So, I tested on Mac, mobile, Linux. It doesn't work.
- I also thought that it was browser error, So, I tested on metamask browser, C

[2021-12-22 18:40] ivelin commented on #675
@0xJem Not sure if you noticed my question above ^^^.

I realize the core team is tied up with v2 migration at the moment. Just making sure the comment is not lost so I can keep working on the issue when you get a chance to respond. Thanks!

[2021-12-23 05:55] ivelin commented on #663
@0xJem
Which branch has the e2e tests? I'm trying to add new tests, but so far haven't been able to track down the branch with existing tests. The default `develop` branch doesn't seem to have any tests:

[code]
![Screen Shot 2021-12-22 at 11 54 28 PM](https://user-images.githubusercontent.com/2234901/147194911-06528937-245d-4490-8900-25ec8ff6e8a3.png)

[2021-12-23 13:12] 0xJem opened #1010 "Migrate from node-sass to dart-sass"
node-sass (which we use) is deprecated, and the recommended path is to migrate to dart-ass: https://sass-lang.com/dart-sass

This could also possibly address the vulnerabilities in node-sass 6.0.1: https://security.snyk.io/vuln/SNYK-JS-NODESASS-535500

[2021-12-23 13:32] 0xJem commented on #1010
node-sass (6.0.1) is quite the liability: https://app.snyk.io/test/npm/node-sass/6.0.1
node-sass 7.0.0 removes one vulnerability, leaving 15 behind!

[2021-12-23 13:35] 0xJem opened #1011 "Upgrade to react-scripts 5.0.0"
https://github.com/facebook/create-react-app/releases

This fixes a lot of vulnerabilities - is there any reason why we shouldn't?

[2021-12-23 16:42] sasicodes commented on #799
We can close this issue. it's merged! @greg-schrammel

[2021-12-27 20:05] 0xJem opened #1022 "[test:e2e] Check if playwright offers a quicker/more reliable framework for web3 testing"

[2021-12-27 20:08] 0xJem opened #1023 "[test:unit] translations"
Check that translations result in the content being updated

[2021-12-27 20:22] ivelin commented on #1022
Docs on using playwright with chrome extensions:
https://playwright.dev/docs/chrome-extensions

Online monitoring service for playwritght and puppeteer in case we want to consider running our e2e tests periodically from multiple locations around the world:
https://www.checklyhq.com/

[2021-12-31 01:34] eglaysher opened #1038 "Approve button for staking doesn't work with Walletconnect and Gnosis Safe"
**Describe the bug**
To work around #500, I'm using the iPhone Gnosis Safe app with Walletconnect. Clicking the "Approve" button on the Staking page results in no action.

The app looks like it's using the right wallet since it displays the right ENS name.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a Gnosis Safe with Walletconnect to app.olympusdao.finance.
2. Click on Stake in

[2021-12-31 15:32] ivelin opened #1040 "[FEATURE] PWA compliance"
**Is your feature request related to a problem? Please describe.**
In order to improve UX and SEO, [we discussed](https://discord.com/channels/838651642190495804/838654073464946758/925445495252475965) advancing towards [PWA compliance](https://en.wikipedia.org/wiki/Progressive_web_application).

**Describe the solution you'd like. Include clear acceptance criteria.**
As a first step we added Light

[2021-12-31 15:42] ivelin opened #1041 "[TEST] Run Lighthouse pre-deploy test in CI"
**Is your feature request related to a problem? Please describe.**
Currently we run LH against local build. However that does not cover several PWA tests that are only active for remote https app deployments.

**Describe the solution you'd like. Include clear acceptance criteria.**
Trigger LH test against hosting provider (fleek) pre-deployment on each PR.

**Is any UX Design input needed?**
No UX

[2021-12-31 15:49] ivelin opened #1042 "[TEST] End to end test against Brave browser and wallet"
**Is your feature request related to a problem? Please describe.**
Currently we run unit tests at component level and a few puppeteer tests for Chrome and MetaMask.
However we know from user feedback that app behaves sometimes differently with different browsers and wallets.
It is important for a polished UX to establish a baseline of e2e test automation for popular web3 browsers such as Brave.

*

[2021-12-31 17:08] ivelin opened #1043 "[TEST] Add test coverage check to CI"
**Is your feature request related to a problem? Please describe.**
Currently there is no CI automation to prevent test coverage regression when new code is committed.
As the code base grows and becomes more complex, the chances of regression that affect UX increase.

**Describe the solution you'd like. Include clear acceptance criteria.**
It would be desirable to establish a minimum threshold for

[2022-01-02 04:59] Paul4912 commented on #1043
New here i can't seem to find any tests on the repo aside from app.test.js? am i missing something?

[2022-01-02 05:16] Paul4912 commented on #1041
how come i can't see the fleek job configs in the develop branch?
https://github.com/OlympusDAO/olympus-frontend/tree/develop/.github/workflows
Only see the lighthouse job. But i can clearly see that fleek is running on pull requests.

[2022-01-02 21:06] ivelin commented on #1043
You are correct, @Paul4912 . Tests are not merged in the `develop` branch yet. We are still experimenting with test setup in the `test/base` branch.

[2022-01-02 21:09] ivelin commented on #1041
@Paul4912 I think the reason is that Fleek is now configured to trigger a new deployment when it sees a push to the `master` branch. @ohmygirth or @appleseed-iii can correct me here, since I am relatively new to the project as well.

However we have the greenlight to integrate fleek in the CI so tests run against deployment previews.

[2022-01-03 05:20] Paul4912 commented on #911
sOhm and ohm have 9 decimals. So if you go above that it won't work.

Question is how do you want frontend to handle it? You can truncate decimals after 9 places since its unlikely that level of precision is needed or you can return an error message to user to tell them why thats not allowed.

You shouldn't run into this issue if you just click max because theres no way you will have an ohm balanc

[2022-01-03 05:23] Paul4912 commented on #654
I don't think this is a good idea. Ideally if we run tests before a pr is merged it should be deterministic. If we use a testnet for CI purposes many things could go wrong. Testnet could be down, now prs will fail. Testnet state could change and mess with your tests.

I think if you want e2e tests against frontend it should be deterministic so something like a locally mocked backend.

[2022-01-03 08:10] 0xJem commented on #654
This is why we're also spending time setting up a local testnet that we know is functioning, and has certain wallet balances, etc.#655

[2022-01-03 09:03] 0xJem commented on #1022
@ivelin Were you able to test whether playwright and metamask would play nicely together?

[2022-01-03 16:02] ivelin opened #1054 "[CI] Add git commit hooks and CI lint check"
**Is your feature request related to a problem? Please describe.**
Currently there is no code formatting enforcement on git commit and CI.

**Describe the solution you'd like. Include clear acceptance criteria.**
Add git commit hooks and CI lint check that ensures consistent code formatting across the project.

**Is any UX Design input needed?**
No US Design impact.

**Describe alternatives you've

[2022-01-03 16:11] ivelin opened #1055 "[CI] Add CodeQL Check to CI"
**Is your feature request related to a problem? Please describe.**
Currently there doesn't seem to be a code vulnerability scan for the `develop` branch.

**Describe the solution you'd like. Include clear acceptance criteria.**
Enable code vulnerability scan via github's built-in CodeQL action.

https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabili

[2022-01-03 17:28] ivelin commented on #1022
@0xJem Not yet. Marking this as a Good First Issue.

BTW, I am waiting on feedback for this `test/base` PR:
https://github.com/OlympusDAO/olympus-frontend/pull/1026

[2022-01-03 20:06] ivelin commented on #1022
@0xJem FYI, playing with this Playwright setup for Gitpod today:
https://github.com/4DvAnCeBoY/pw-test

[2022-01-03 20:23] Paul4912 commented on #654
What does local testnet mean? spin up local node? Doesn't writing tests in hardhat solidity repos already do that.

[2022-01-03 21:08] ivelin commented on #1022
0xJem

UPDATE: I found a gitpod image that works well with both puppeteer and playwright. Also includes a debug tool for both:
https://github.com/testimio/root-cause-interactive-demo

When it comes to MetaMask, I think we have two options with pros and cons:
1. Use Puppeteer with dappeteer on chome only. Lock in MetaMask version to avoid brittleness. Downside here is lack of multi-browser testing.

[2022-01-04 15:02] jlmurphysa commented on #981
Same issue today, on Arbitrum.

Can't migrate wsOHM->gOHM without bridging to another chain with more liquidity.

[2022-01-05 04:49] appleseed-iii commented on #1038
@eglaysher I believe we resolved this one about 3 days ago. Can you please retest on your end?

[2022-01-06 01:45] eglaysher commented on #1038
This time I got a banner saying that "sender is not an eoa address" (which is true, the address is a smart contract and the signing keys are different).

[2022-01-06 02:54] alexleventer commented on #233
This appears to be fixed:
![Screen Recording 2022-01-05 at 6 54 20 PM](https://user-images.githubusercontent.com/3254549/148320926-085b7d2e-0aaf-43d6-988d-c91bf9a6698f.gif)

[2022-01-06 16:20] alexleventer opened #1080 "Remove Segment integration from the frontend app"
Remove Segment integration from the frontend app

[2022-01-06 16:48] 0xJem opened #1082 "Periodically identify unused dependencies"
Is there a tool we can use for this?

It should remove the unused dependency and trigger a build.

[2022-01-06 17:44] ivelin commented on #662
@0xJem @brightiron this is now fixed in `test/base` .

[2022-01-06 17:46] ivelin commented on #653
@0xJem this is now done: #1071

[2022-01-06 17:48] ivelin opened #1086 "[TEST] Bring unit test coverage up to 30%"
**Is your feature request related to a problem? Please describe.**
Currently unit tests are at 22% line coverage. The next milestone is 30%.

Note: Checkout the default `develop` branch.
To run unit tests with coverage info:
`yarn test:unit`

**Describe the solution you'd like. Include clear acceptance criteria.**
We would like to get to 80% as soon as possible.

[2022-01-06 18:43] #1055 closed, assigned to nobody

[2022-01-08 12:27] ShubhGupta3 opened #1116 "How to make frontend work after deploying contracts on rinkeby"
after running npx hardhat run scripts/deployAll.js --network Rinkeby
I get a list of 8 addresses
Olympus Authority:
OHM:
sOhm:
gOHM:
Olympus Treasury:
Staking Contract:
Distributor:
Migrator:

How to use them in Frontend to make site work

[2022-01-10 17:01] appleseed-iii commented on #1054
I'm confused by this one @ivelin . We have `prettier`, which already accomplishes everything here I believe?

[2022-01-10 17:02] #799 closed, assigned to sasicodes, appleseed-iii

[2022-01-10 17:05] #657 closed, assigned to nobody

[2022-01-10 17:07] appleseed-iii commented on #1116
look at `src/constants.ts`. If you want to continue this discussion further join our work discord: https://discord.gg/42xFV68uEf

[2022-01-10 17:07] #1116 closed, assigned to nobody

[2022-01-10 17:45] appleseed-iii opened #1139 "Automatically toggle Wrap/Unwrap assets intelligently"
![image](https://user-images.githubusercontent.com/80423742/148812934-1bbbe0cf-8623-4ea3-b113-e77ce89cfad9.png)

**Is your feature request related to a problem? Please describe.**
See screenshot. On the [wrap page](https://app.olympusdao.finance/#/wrap) when a user toggles the first (or second asset) the other asset should also switch. It should not be possible to select `wrap from sohm to sohm` a

[2022-01-11 07:35] 0xJem opened #1146 "Networks without support for ENS spew errors"
**Describe the bug**
If the chosen network does not support ENS (e.g. local testnet, non-Ethereum), the ENS lookup will spew errors into the console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Select chain other than Ethereum mainne
2. Visit the staking page

**Expected behavior**
Nothing. Don't make the call if ENS isn't supported.

**Workarounds (if any)**
Check if the network

[2022-01-11 17:27] ivelin commented on #1054
Sorry for the confusion. We should reuse whatever linting templates are already in place. `lint` is already setup in `package.json`, so we can reuse that.

The goal of this issue is to improve lint enforcement via:
1. Local dev env git pre-commit lint run
2. CI lint check

[2022-01-12 02:38] appleseed-iii commented on #1146
this is just a console.log of the caught error... You could just submit a pr removing the console.log

[2022-01-12 11:53] 0xJem commented on #1022
Puppeteer supports Firefox, Chromium and Chrome as testing targets, by the way. But that does exclude others.

If we can abstract the wallet client out and have specific tests to ensure that wallet X works, I think that would be ideal. I assume that mocking the WalletConnect API is non-trivial, so is this something that we can tackle now?

Assuming the mocking is trivial, how much easier is it to

[2022-01-12 11:56] 0xJem commented on #654
Hi @Paul4912 ! The local testnet can be used for the following reasons:
- Easier to test against in-development contracts
- For frontend testing, wallets can have ETH or access to an OHM faucet
- The state of the local testnet is reliable, vs Rinkeby
- Enables us to run tests against that local testnet

The tests that you're referring to are unit tests, which test only the output of a function, gi

[2022-01-13 04:59] #1080 closed, assigned to alexleventer

[2022-01-13 05:32] ynub commented on #1082
We can use [depcheck](https://www.npmjs.org/package/depcheck)

Ran it on develop and found the listed dependencies as unused. I can raise a PR and run the tests but I've been testing locally and it seems good.

[code]

[2022-01-13 05:48] alexleventer opened #1186 "Replace Material UI Input components with Input components from the @olympusdao/component-library"
- Replace Material UI Input components with Input components from the @olympusdao/component-library

[2022-01-13 05:51] alexleventer opened #1187 "Replace Material UI Modal components with Modal components from the @olympusdao/component-library"
Replace Material UI Modal components with Modal components from the @olympusdao/component-library

[2022-01-13 05:52] alexleventer opened #1188 "Replace Material UI Button components with Button components from the @olympusdao/component-library"
Replace Material UI Button components with Button components from the @olympusdao/component-library

[2022-01-13 05:53] alexleventer opened #1189 "Replace Material UI Notification components with Notification components from the @olympusdao/component-library"
Replace Material UI Notification components with Notification components from the @olympusdao/component-library

[2022-01-13 05:58] RishiKumarRay commented on #1189
Can you guide me solving this ?

[2022-01-13 06:04] alexleventer commented on #1189
Absolutely @RishiKumarRay

[2022-01-13 07:15] RishiKumarRay commented on #1189
So please help me

[2022-01-13 07:41] 0xJem commented on #1082
Hi @reachelite ! Thanks for having a go at this.

Good catch on depcheck. Is there a way that we can periodically run depcheck (e.g. through GitHub Actions) and have it report to us any unused dependencies? Going further, it removes those dependencies, commits and that triggers build.

[2022-01-13 15:02] alexleventer commented on #1189
How can I help?

[2022-01-13 16:27] ashiskumar-1999 commented on #1186
Hi @alexleventer, I want to work on this task. Are all the input components used in different files needed to change or there are some specific files in which the changes will be done?

[2022-01-13 16:34] alexleventer commented on #1186
Yes - all of the Inputs in the frontend app.

Any `import { Input } from @material-ui/core` should be replaced with the Input from the component library.

[2022-01-13 16:35] alexleventer commented on #1186
It'd be great if you could break each input into a mini PR vs. a mega PR that changes all Inputs. Thank you!

[2022-01-13 18:34] ivelin commented on #1082
Very cool tool. These github actions based on depcheck seem relevant:

https://github.com/marketplace/actions/depcheck-action-with-pr
https://github.com/marketplace/actions/run-depcheck

[2022-01-13 23:53] #1043 closed, assigned to nobody

[2022-01-14 00:10] ivelin opened #1198 "[test:unit] staking"
Cover UI flows for staking OHM tokens.

[2022-01-14 00:12] ivelin commented on #1198
![Screen Shot 2022-01-13 at 6 11 39 PM](https://user-images.githubusercontent.com/2234901/149428870-4cec1d4c-2819-4e83-9ecf-0f16e3139f60.png)

[2022-01-14 00:14] ivelin commented on #640
![Screen Shot 2022-01-13 at 6 13 22 PM](https://user-images.githubusercontent.com/2234901/149429013-42587093-e640-4648-a64b-e6b815b4179c.png)

[2022-01-14 00:14] ivelin commented on #636
duplicate ot #1198

[2022-01-14 00:14] #636 closed, assigned to nobody

[2022-01-14 00:16] ivelin commented on #598
![Screen Shot 2022-01-13 at 6 15 49 PM](https://user-images.githubusercontent.com/2234901/149429229-a27664a3-bfa1-4e87-8e9e-d0967a4307a7.png)

[2022-01-14 00:18] ivelin commented on #227
![Screen Shot 2022-01-13 at 6 18 10 PM](https://user-images.githubusercontent.com/2234901/149429474-6b91f344-6990-4cf5-a919-c5bf410d0547.png)

[2022-01-14 00:19] ivelin opened #1199 "[test:unit] app wallet UI"
Test all flows, data entries and calculations for app wallet.

[2022-01-14 00:20] ivelin commented on #1199
![Screen Shot 2022-01-13 at 6 20 02 PM](https://user-images.githubusercontent.com/2234901/149429662-ff52c835-0cef-4d3f-b3b5-3e159d6706ff.png)

[2022-01-14 00:22] ivelin commented on #225
![Screen Shot 2022-01-13 at 6 21 50 PM](https://user-images.githubusercontent.com/2234901/149429837-15ce3ac4-27aa-48dd-b526-f1c8ddecd00c.png)

[2022-01-14 00:23] ivelin commented on #662
@0xJem I am closing this issue, since #1155 was merged today.

[2022-01-14 00:23] #662 closed, assigned to nobody

[2022-01-14 12:23] nabioz opened #1205 "Refactor Migration Modal"
Two components MigrationModal.tsx and MigrationModalSingle.tsx have a lot of overlapping code. These can be refactors into a separate component or be merged in to a single component.

https://github.com/OlympusDAO/olympus-frontend/tree/develop/src/components/Migration

May also be a good opportunity to leverage @olympusdao/component-library modal to take advantage of consistent background blur and

[2022-01-14 13:17] 0xJem commented on #1082
Thanks @ivelin !

@reachelite It would be great if you could look at the actions. Let me know when you're done and I can review!

[2022-01-14 14:25] gord0b commented on #1082
node-sass dependency is important to remove for a cleanup, node-sass@7.0.1 is noted as vulnerable.

[2022-01-14 18:55] ynub commented on #1082
Yup I looked at this, this would be useful to install but note that it won't automatically remove the unused, it will just let us know what is unused.

But sometimes it lists unused even though we are using it (ran info this myself on some work/personal projects), still useful none the less.

Instead of having a action we should probably do a scheduled dep check once a month or something if we are

[2022-01-15 17:20] #1139 closed, assigned to nobody

[2022-01-15 17:20] #1146 closed, assigned to nobody

[2022-01-15 17:59] ivelin commented on #1022
Correct. Does not support `webkit` based browsers like Safari. Playwright does.

Yes, I agree. Even though wallet vendors responded positively to the idea, none committed to an action plan so far. Stubbing out the WalletConnect API seems like our best bet for the time being. I believe its possible and am happy to work on that.

Most of my experience is with cypress. From what I can tell, puppeteer

[2022-01-15 20:01] 0xpaulio commented on #1086
Checking this out

[2022-01-15 20:02] ivelin commented on #1086
Awesome!

@0xJem I don't seem to have permission to assign this issue to @0xpaulio . Can you please help with that?

[2022-01-15 20:35] ivelin opened #1223 "[test:unit] create coverage badge for project README.md"
**Is your feature request related to a problem? Please describe.**
Currently test coverage results are only visible in the CI logs.

**Describe the solution you'd like. Include clear acceptance criteria.**
It would be convenient to have a coverage badge on the README.

A couple of possible solutions without using 3rd party SaaS coverage tools:
- https://www.npmjs.com/package/jest-coverage-badges
-

[2022-01-15 23:00] ivelin commented on #1022
Just for historical context. Listing below the ongoing threads with wallet providers for E2E Test APIs:
- Metamask: https://github.com/MetaMask/test-dapp/issues/147
- Brave: https://community.brave.com/t/e2e-testing-for-web3-app-interactions-with-brave-wallet/318181
- WalletConnect: https://github.com/WalletConnect/walletconnect-monorepo/issues/683
- WalletLink: https://github.com/walletlink/walle

[2022-01-15 23:38] ivelin opened #1225 "[perf] Identify and document performance optimization opportunities"
**Is your feature request related to a problem? Please describe.**
We are aware that the app has subpar response time due to dependency on multiple third party data APIs.
The question is what is the optimal investment of effort (front end, middleware/API, back-end) that can be incrementally introduced to boost UX.

**Describe the solution you'd like. Include clear acceptance criteria.**
Run perfor

[2022-01-15 23:43] ivelin opened #1227 "[test] Document unit testing requirements and best practices for new project contributors"
**Is your feature request related to a problem? Please describe.**
We just turned on unit test runs for the project. There is no strict clarity on the format and expectations from developers related to unit testsing.

**Describe the solution you'd like. Include clear acceptance criteria.**
ZayneX requested a dev guideline doc for new contributors to know what is expected for unit testing as part o

[2022-01-17 19:13] 0xJem commented on #1022
That's fair. I would like to get the work I'm doing with the v2 contracts deployment and docker done (#655 ), even if we don't populate the e2e tests immediately afterwards, as it will be difficult to context-switch back.

[2022-01-17 21:28] Malwurf commented on #1010
Hi @0xJem I've made this migration in this pr -> https://github.com/OlympusDAO/olympus-frontend/pull/1248/

[2022-01-17 23:57] ivelin commented on #1225
After profiling with Chrome Dev tools today, it appears that there is some low hanging fruit for improvement.

The app front page takes 3-4s to load on a fast fiber Internet connection and 5-6s on a Fast 3G network.

On first load it makes over 300 remote API calls. That is without a user wallet connected. The remote 3rd party calls are mainly to coingecko and alchemy. Given that there are only a

[2022-01-18 00:26] ivelin commented on #1225
For most remote calls the wait time is around 60ms. For some it goes as high as 300ms. Screenshots below:
![Screen Shot 2022-01-17 at 6 25 17 PM](https://user-images.githubusercontent.com/2234901/149850818-ccfd3de0-0be2-42ce-91cf-1a0fdd677289.png)
![Screen Shot 2022-01-17 at 6 25 31 PM](https://user-images.githubusercontent.com/2234901/149850819-bf59d4b8-a57d-4472-862d-94b2b8105792.png)

[2022-01-18 00:31] ivelin commented on #1225
Coingecko requests have a cache policy with occasional cache hits. However alchemy requests appear to have no caching at all even for read only ops.

![Screen Shot 2022-01-17 at 6 30 33 PM](https://user-images.githubusercontent.com/2234901/149851116-aa78640c-72d3-425a-81db-b5291d765b86.png)

![Screen Shot 2022-01-17 at 6 30 16 PM](https://user-images.githubusercontent.com/2234901/149851121-335de0c

[2022-01-18 06:21] 0xJem commented on #1225
Do you have any thoughts on implementing a cache vs batching API calls?

Are there situations where an API call is blocking the interface from loading?

Are there particular pages in the frontend that are particularly-bad offenders? (I checked the PDF and it doesn’t say.)

I’m wondering what is best to get started with…

[2022-01-18 22:59] ivelin commented on #1225
All great questions. I am going down the list one idea at a time. The Chome Dev Tools have bunch of ways to profile and drill down to find answers. When I find some success I will share updates here. If you are working on this as well, just post comments with new findings. We will wrestle the beast together.

[2022-01-19 01:59] appleseed-iii commented on #1225
If you two are going to be the primary folks working on it we should sync up. I have a lot of history with tackling similar issues in previous versions of this application (before migration mostly). Some of that context would be helpful.

[2022-01-19 02:06] appleseed-iii commented on #1225
1. For outsourcing calls to an API:
Basically everything in `AppSlice` could be handled via the API layer IMO.

2. Some of the asset pricing from coinGecko is definitely duplicated.

3. In the past we have had duplicated on-chain calls in general due to state management issues. In theory those can be handled by the react-query upgrades that @sam-potter is working on. I need to think about these so

[2022-01-19 02:50] sam-potter commented on #1225
Spot on, `react-query` dedupes multiple requests for the same data by different components into a single HTTP request. So once we fully transition away from redux slices as the source of remote data like that, it'll no longer be an issue.

I should also add that it'll also solve the issues around loading remote data unnecessarily, e.g. when it's not explicitly needed in the currently visible UI. T

[2022-01-19 08:51] 0xJem opened #1271 "Refactor StakeThunk.changeApproval to support multiple chains"
The `changeApproval` function in StakeThunk currently assumes that both V1 and V2 contracts exist on the chain that is being used. This assumption is only correct for Ethereum mainnet and Ethereum rinkeby, as the V1 contracts were deployed there.

The following line (and others like it) trip up the function:
[code]
The reason being that the contract referenced by the `ohmContract` variable does no

[2022-01-19 18:19] ivelin commented on #1225
Awesome knowledge dump @sam-potter and @appleseed-iii . I will add you to the API sync. It is on Thursdays , an hour before the general eng sync.

[2022-01-19 18:24] ivelin commented on #1225
It feels like it will be a bit of bottom up and top down approach until we find a happy medium.
1. There are repetitive calls we can profile and consolidate gradually with @appleseed-iii reviews for correctness and @sam-potter 's guidance on react-query best practices.
2. We need to gradually map out high level API requirements into a spec that drives API middleware roadmap.

[2022-01-19 19:48] zthreethree opened #1275 "Total Staked Balance in sOHM confuses users"
**Describe the bug**
The staking page currently displays Total Staked Balance denominated in sOHM. This leads people to two confusions:

1. That they have both sOHM and gOHM
2. That they should be tracking the price of sOHM rather than OHM

Point 2 has been a source of extra confusion lately as price trackers like coinmarketcap and coingecko were both pulling feeds for sOHM from a third party illi

[2022-01-19 21:58] ivelin opened #1277 "[perf] Fix lighthouse failed checks"
**Is your feature request related to a problem? Please describe.**
In PR #1261 , Lighthouse reports 20 usability and performance issues for the app.
Resolving them gradually should improve overall UX.

**Describe the solution you'd like. Include clear acceptance criteria.**
Go through failed checks in [this report](https://github.com/OlympusDAO/olympus-frontend/runs/4874405067?check_suite_focus=tr

[2022-01-19 22:43] appleseed-iii commented on #1225
also some more background for the RPC calls that I'm remembering... the caching behavior depends on your wallet provider.

[2022-01-20 01:39] ivelin commented on #1225
Good to know. Thank you! Another reason why we need e2e API for wallet providers to keep everyone honest.

Just FYI, my immediate focus is on tracking down and removing the unnecessary calls to `http://localhost:8545`:
It should reduce the load time and get rid of one lighthouse error message related to errors in the console log (out of 20 :-) .

![Screen Shot 2022-01-19 at 5 11 28 PM](https://use

[2022-01-20 06:05] 0xJem commented on #1225
8545 is the port used by a locally-hosted testnet (e.g. hardhat). When this happens, which branch are you using?

[2022-01-20 15:06] zthreethree opened #1292 "Staking page disappears Cross Chain"
**Describe the bug**
If your wallet is set to, e.g. Avalanche Network the staking page completely disappears. Users find this confusing and often come and ask "why has the staking page disappeared?".
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.olympusdao.finance/#/stake
2. Change wallet to avalanche network

or just go to https://app.olympusdao.finance/ with wallet on av

[2022-01-20 16:03] ivelin commented on #1225
Good question. I see this on `develop` branch.
Do we need hard hat for front end dev?

[2022-01-21 06:04] 0xJem commented on #1225
Not necessary. It should depend on which network is selected in the wallet. If you're on anything other than localhost (which I would expect), then there's no reason to be trying to contact any API on localhost:8545.

[2022-01-21 12:02] 0xJem opened #1302 "Incorrect approval status on stake page"
**Describe the bug**

After a user has approved the staking contract, if they then reload the staking page, the "Approve" button will still be there. "Stake to sOHM" will only appear if the "Approve" button is pressed another time (though there is no transaction required).

There is probably a parallel bug with unstable approval.

**To Reproduce**
Screen recording:

https://user-images.githubuserc

[2022-01-21 16:21] ivelin commented on #1225
OK, thank you for clarifying. I will continue hunting this down and disable polling networks that the user is not explicitly trying to connect to. Will tag you for review when ready. This debugging exercise is giving me a good tour of the react code.

[2022-01-21 16:29] ivelin opened #1308 "[BUG] In dev mode the app is always trying to connect to localhost:8454 on startup"
**Describe the bug**
When the app starts in dev mode on `develop` branch it always tries to poll localhost (hard hat) network.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app in dev mode `yarn start`
2. Go to Chrome Dev Console
3. See error messages. See attached screenshot.
![Screen Shot 2022-01-19 at 5 11 28 PM](https://user-images.githubusercontent.com/2234901/150563644-4be6

[2022-01-23 15:19] zthreethree opened #1320 "gOHM to sOHM unwrap not working"
**Describe the bug**
On the wrap page on Ethereum Mainnet. if you try to unwrap gOHM to sOHM. it doesn't work. the interface gets stuck on loading. and clicking unwrap gOHM results in an error (shown in screenshot below)
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.olympusdao.finance/#/wrap
2. Choose gOHM to sOHM unwrap
3. Click unwrap gOHM
4. See error at the top

**Expe

[2022-01-23 17:44] alexleventer commented on #1302
Fixed in https://github.com/OlympusDAO/olympus-frontend/pull/1323

[2022-01-23 17:54] ivelin opened #1325 "[docs] Rinkeby faucet in README drips to outdated sOHM address?"
**Describe the bug**
While trying to manually test @Keith 's fix for the Unwrap issue (#1322 ), the Rinkeby faucet in the Readme sends sOHM to an address that is not recognized in the frontend app wallet.

Also adding the sOHM from the app conflicts with the sOHM  (same name, but different address) that the faucet dripped into.

What am I doing wrong?

Do we need to update docs with v1, v2 names a

[2022-01-23 18:32] ivelin commented on #1325
@alexleventer helped me dig a bit deeper into this issue. Looks like the [Rinkeby faucet contract](https://rinkeby.etherscan.io/address/0x800B3d87b77361F0D1d903246cA1F51b5acb43c9#writeContract) in the readme drips tokens to [sOHM v1 on Rinkeby](https://github.com/OlympusDAO/olympus-frontend/blob/8553392eed441127b81a3e9863379d45c975ae51/src/constants.ts#L60) (`0x1fecda1de7b6951b248c0b62caebd5babedc

[2022-01-23 22:01] ketys-from-meiro opened #1326 "tokemak balance issues"
**Describe the bug**
Total Staked Balance showing how much sOHM I can have after unwrapping from gOHM doesn't reflect balance in Tokemak, hence Next Reward Amount is also not correct.
Additionally I found "My Wallet" sidebar, which is really nice and helpful but tokemak balance is included in sOHM row and also in gOHM, hence it's counted twice doubling my total balance (looks nice before you reali

[2022-01-24 09:04] 0xJem opened #1331 "Unit test set up tasks cause delays in e2e tests"
**Describe the bug**
The `server.` calls in `src/setupTests.js`, which are intended to provide mocking for unit tests, cause problems when running e2e tests: the e2e tests never start. Commenting the lines results in it working.

The API mocking is only needed for unit tests, and perhaps only for certain test suites or test cases. Instead of running the API server every time, can we shift the resp

[2022-01-24 21:03] ivelin commented on #1188
More info on the component library in the README:
https://github.com/OlympusDAO/olympus-frontend/blob/develop/README.md#reusable-components-component-library

[2022-01-24 23:32] #1320 closed, assigned to ivelin

[2022-01-25 00:47] appleseed-iii commented on #1326
fixed in https://github.com/OlympusDAO/olympus-frontend/pull/1335

[2022-01-25 00:47] #1326 closed, assigned to alexleventer

[2022-01-25 00:54] appleseed-iii commented on #1308
I'm 99% certain this is functionality from `ethers.js`. When you don't pass in a RPC Node url then `ethers` assumes you are trying to connect to a local node (`localhost:8454`). If I'm correctly understanding your issue then if you simply populate your `.env` with a Node Url then the error goes away.

`.env.example` and the `README` describe the Node Urls you should have in your environment for th

[2022-01-25 18:38] ivelin commented on #1308
Thank you. Will explore this route.

[2022-01-26 00:44] ivelin commented on #1308
@appleseed-iii you were 100% correct. Submitted PR #1348 to initialize gitpod workspaces with a .env that prevents this issue.

[2022-01-26 12:01] #1010 closed, assigned to nobody

[2022-01-26 17:59] ivelin commented on #1325
README update suggested in PR #1311

[2022-01-26 18:23] #1308 closed, assigned to ivelin

[2022-01-26 21:59] #1331 closed, assigned to ivelin

[2022-01-27 05:22] 0xJem commented on #1331
`21beeef` 😆

[2022-01-27 14:19] appleseed-iii commented on #1054
ok this is now implemented https://github.com/OlympusDAO/olympus-frontend/pull/1274

[2022-01-27 14:19] #1054 closed, assigned to alexleventer

[2022-01-28 16:18] #1082 closed, assigned to nobody

[2022-01-28 16:20] appleseed-iii commented on #1082
closed per comments in https://github.com/OlympusDAO/olympus-frontend/pull/1381

better to follow the practices of https://github.com/OlympusDAO/olympus-frontend/pull/1191 and check manually every month, using https://www.npmjs.org/package/depcheck

[2022-01-28 22:38] brightiron commented on #1189
@alexleventer - cleaning up this stale issue. We don't have any currently active notifications that would use this component on the frontend.

[2022-01-28 22:38] #1189 closed, assigned to nobody

[2022-01-31 16:44] zthreethree opened #1394 "[BUG] [SHERPAS] Migrator preview showing wrong amount of gOHM"
**Describe the Bug**
Migrator is showing the wrong amount of gOHM. e.g. in below screenshot user has around 30 OHMv1 and is being told they'll get around 0.4 gOHM, which is incorrect, they'd be getting around 0.8 gOHM. It seems like the migrator UI is using current index instead of v1 index to do that calculation.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to migrator prompt while hav

[2022-02-01 06:05] 0xJem opened #1400 "Screenshots/videos from e2e tests should be easily accessible"
The screenshots and videos generated by Puppeteer could be posted/linked to the pull request, so that anyone reviewing the PR could get a quick overview of any visual problems, e.g. spacing, errors.

[2022-02-01 13:30] #1186 closed, assigned to nobody

[2022-02-02 12:48] 0xJem commented on #1198
@biwano are you still working on this?

[2022-02-02 12:50] 0xJem commented on #1086
Hi @0xpaulio ! Do you need any help with this? Feel free to ask in Discord (if you have access?) or here.

[2022-02-02 14:01] biwano commented on #1198
@0xJem No sorry, I fell into the performance issues hell while doing this.

[2022-02-02 20:51] ivelin opened #1411 "[BUG] Staking page uncaught error when connecting to metamask"
**Describe the Bug**
When user is on Staking page and tries to connect to Wallet, it results in an uncaught error. The wallet extension window does not open at all. Manually opening the wallet extension after the error, shows the wallet is waiting for user to login.

**To Reproduce**
Steps to reproduce the behavior:
1. Logout from MetaMask wallet extension.
1. Go to 'Staking page'
1. Click on 'Con

[2022-02-02 23:07] sam-potter commented on #1411
I've run into this a couple times too. It happens to me when there is another MetaMask popup already open (usually behind my window where I can't see it). This can easily happen when we disconnect directly from the wallet, cause atm we don't detect when that disconnection happens, so we still attempt to automatically connect to the wallet on the next page load.

Can you double check whether that's

[2022-02-03 00:37] 0xpaulio commented on #1086
@0xJem what's your discord? I'm in the server if you want to msg me. I had gotten held up on some other projects, but if you want to talk through how you want this structured, I can wip it out sometime in the next couple of days. I could easily push a basic test that would test coverage past 30%, but also provide little to no real utility to the project (if that makes sense) so would rather struct

[2022-02-03 06:30] 0xJem commented on #1086
@0xpaulio I am Jem#1357 on Discord. Couldn't find you.

[2022-02-03 16:30] #1187 closed, assigned to nobody

[2022-02-03 17:12] #1188 closed, assigned to nobody

[2022-02-04 02:01] ivelin commented on #1411
@sam-potter I can now confirm that this is what happened on my machine. After you pointed this out, I did find the Metamask extension login window open and hiding behind my main browser window. I agree that this is still a case that we should recover from gracefully (when the uncaught exception occurs) instead of keeping the user guessing.

[2022-02-04 11:23] MuhammadArslanKhan96 opened #1425 "[BUG]: Connect Binance Chain with app and then click on wallet it's crashed"
**Application Crashing**
Connect Binance Chain with app and then click on wallet it's crashed

**To Reproduce**
Steps to reproduce the behavior:
1. Connect Binance smart chain using metamask
2. click on wallet

I know OlympusDao not support Binance smart chain but you guys don't think it's wiered for end user who don't know in depth

[2022-02-06 01:31] fluidsonic opened #1427 "[BUG] Incorrect APY on the landing page"
**Describe the Bug**
The APY on the [landing page](https://www.olympusdao.finance/) is exactly 100% points too high. There's likely a `- 1` or `- 100` missing in the formula.
APY on the app's Stake page is correct (100% points lower).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [landing page](https://www.olympusdao.finance/)
2. See APY
3. Compare to [Stake page](https://app.olympus

[2022-02-06 14:49] ivelin commented on #1394
I will assign this one to myself tomorrow (Monday , Feb 7) if there are not other takers.

[2022-02-07 11:23] 0xJem opened #1430 "[BUG] Interpolated strings with variables are not displayed in production deployment"
**Describe the Bug**

If an interpolated string containing variables is used, instead of the variable being replaced in a production deployment, `{0}` or `{variable name}` will be displayed.

**To Reproduce**
Steps to reproduce the behaviour:

1. Define a new string with the translation macro, e.g.
[code]

2. Run the build `yarn build`
3. Serve locally: `yarn serve-prod`
4. Access the page contain

[2022-02-07 12:29] 0xJem commented on #1430
Running `yarn lingui:extract && yarn build` and then serving it results in the correct string being displayed. So the issue is that a missing string in the `.po` files is tripping this up.

We have two approaches:
1. Configure lingui so that it handles missing strings more gracefully
2. Ensure that any

This issue often crops up with translatable strings not being updated, the code being pushed to

[2022-02-07 12:49] 0xJem commented on #1430
This was helpful: https://github.com/lingui/js-lingui/issues/388#issuecomment-459065625

[2022-02-07 15:17] sasicodes opened #1432 "[BUG] ENS avatar size"
**Describe the Bug**
ENS avatar resolution is not fixed and so extends to the entire image size.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard (https://app.olympusdao.finance/#/dashboard)
2. Click on `Wallet`
3. See that the ENS avatar is taking the full size.

**Expected Behavior**
Avatar should have a fixed size.

**Workarounds (if any)**
Setting a width and height for an

[2022-02-07 15:19] sasicodes commented on #1432
i ll work on this @appleseed-iii  🙇🏻

[2022-02-08 07:00] 0xJem opened #1438 "Fleek deployment configuration should be in the repository"
The Fleek deployment configuration does not appear to be in the GitHub repository. This is problematic for a few reasons:
- A malicious actor that gains access to Fleek could edit/remove the deployment configuration without anyone knowing, and without an easy way to restore
- It is not possible for developers to contribute improvements to deployment

If Fleek has its own configuration file, we can

[2022-02-08 19:17] #1325 closed, assigned to nobody

[2022-02-08 19:19] #315 closed, assigned to dwjanus

[2022-02-08 19:19] #305 closed, assigned to dwjanus, ffmcgee725

[2022-02-08 19:20] #303 closed, assigned to dwjanus

[2022-02-08 19:20] #304 closed, assigned to spaceturtleship

[2022-02-08 19:21] appleseed-iii commented on #319
no longer relevant due to migration

[2022-02-08 19:21] #319 closed, assigned to nobody

[2022-02-08 19:27] appleseed-iii commented on #1438
we could add our deploy command into package.json. It would just be packaging three other yarn scripts (`yarn lingui:branch:main && yarn install && yarn build`) into a single command. And then the ENV requirements are already listed in `.env.example`. Does that satisfy what you're looking for?

[2022-02-08 22:16] #1432 closed, assigned to nobody

[2022-02-09 00:37] ivelin commented on #1394
@zthreethree just fyi. @appleseed-iii fixed the bug and submitted a PR. Should be in prod shortly.

[2022-02-09 00:38] ivelin commented on #1394
Two outstanding tasks related to this bug report:
1. Unify calculation of `ohmAsgOHM` and other duplicate formulas between `MigrationModal` and `MigrationModalSingle` . Currently its calculated separately in each component, which leaves room for error and inconsistency in behavior between the two components.
2. Write unit test coverage for both MigrationModals.

Once these are both addressed , I t

[2022-02-09 00:58] asharma13524 commented on #1427
@fluidsonic Do you know where the code lives for https://olympusdao.finance? I wasn't able to track down the relevant code in the olympus-frontend repository upon a cursory glance.

[2022-02-09 06:03] 0xJem commented on #1438
It's a step in the right direction, but I would argue that having the entire Fleek deployment setup in code would be ideal, for the reasons listed above. Is there a reason why you disagree?

[2022-02-09 10:33] fluidsonic commented on #1427
@asharma13524 I have no idea 😅

[2022-02-09 14:46] appleseed-iii commented on #1438
it's not that I disagree. I'm trying to figure out what other config you're looking for. There is no other editable deploy configuration, so I think this is the solution.

[2022-02-09 14:51] appleseed-iii commented on #1394
reopening until we resolve Ivelin's last two suggestions

[2022-02-09 15:02] appleseed-iii commented on #1425
good bug report. thank you. this same bug can be reproduced on other unsupported evm chains.

[2022-02-09 15:04] appleseed-iii commented on #1427
@siferbel this goes with your landing page.

@asharma13524 @fluidsonic the landing page code is not in this repo. We'll keep the issue open here until @siferbel closes it on his end.

[2022-02-09 15:23] appleseed-iii commented on #1275
tracking conversation here: https://discord.com/channels/838651642190495804/940728175930011748/940728308289650698

[2022-02-10 07:00] 0xJem opened #1451 "[BUG] "Approve" button appears momentarily after contract approval in the stake page"
**Describe the Bug**

During the approval transaction, the call-to-action button would momentarily transition from "Pending" -> "Approve" -> "Stake to sOHM", which could be confusing for the user.

**To Reproduce**

To reproduce:
1. Wallet that has not approved the particular contract (I just made a new wallet)
2. Load the stake page
3. Approve the staking contract
4. Approve the transaction in Me

[2022-02-10 07:44] 0xJem commented on #1438
Having the Fleek deployment in code would:
- enable devs to make improvements (e.g. I could have made a PR to add the `lingui:extract` myself).
- enable devs to reproduce/test it elsewhere. e.g. I could spin up my own Fleek account and test improvements against that
- document the environment variables needed

AFAIK, we would just add the Fleek deployment as a step to the main.yml GitHub Actions f

[2022-02-10 10:51] midnight-madman commented on #1223
@ivelin created a short PR for this. In order to fully set this up, there's some setup steps required to be done by a maintainer

[2022-02-10 10:54] midnight-madman commented on #1223
Sorry @t3chnicallyinclined for our duplicated effort on this one. Just pushed the PR and didn't assign the ticket to myself before. Good to see that we got to the same solution though. Happy to solve this together if it still makes sense :)

[2022-02-10 16:38] ivelin commented on #1223
@t3chnicallyinclined , @midnight-madman thank you for the PR. I will take a look today and comment.

[2022-02-10 18:08] t3chnicallyinclined commented on #1223
@midnight-madman @ivelin sorry I don't believe mine is working yet (i'm a noob) as I realized there some steps needed to be done from a maintainer and not sure how that process goes. @midnight-madman you can happily take this one and I will surely take a look when it's complete, thank you!! will search for something a little more noob friendly!

[2022-02-10 18:13] ivelin commented on #1223
No worries. Its part of the learning process that I also went through two months ago :)

You pushed a commit to a branch. That's great. The next step is to submit a Pull Request against `develop`. Do you know how to do that? If not, take a look at the contributing guide:
https://github.com/OlympusDAO/olympus-frontend/blob/develop/CONTRIBUTING.md#code-reviews

[2022-02-10 18:22] t3chnicallyinclined commented on #1198
Hello Complete newb here, if you can point me in the right direction I can try to tackle this.

"Cover UI flows for staking OHM tokens." -- does this mean create unit tests for these UI flows? if so any links to examples of previously created tests so I can be inline with what I need to do

[2022-02-10 19:48] ivelin commented on #1205
Part of this work is done in #1453 , but more can be done in the way of consolidating render components and adding better unit tests for the migration formulas.

[2022-02-10 22:56] ivelin commented on #1198
@t3chnicallyinclined this section of the README covers various unit testing strategies with examples: basic react unit tests, snapshots, remote API mocks, generative.
https://github.com/OlympusDAO/olympus-frontend#unit-testing

You can start with the files in this directory and try to bump up the test coverage metrics. We are mainly looking to improve the `branches` coverage number which currently

[2022-02-11 04:22] #1205 closed, assigned to nobody

[2022-02-11 04:22] #1394 closed, assigned to ivelin

[2022-02-11 16:52] midnight-madman commented on #598
Hi, I'd like to tackle this issue.

Current state of dashboard tests:
- Check if `TreasuryDashboard` view matches the jest snapshot.

My assumption: the goal of this issue is to add to dashboard tests for the `TreasuryDashboard` view.
What is desired here?
- Test each component in `Metrics.tsx`: `MarketCap`, `OhmPrice`, etc ?
- Test each component in `Graph.js`: `TotalValueDepositedGraph`, `Market

[2022-02-14 06:46] dropkickdarren opened #1468 "[BUG] OP partners page is not showing - *Polygon*"
**Describe the Bug**
[link](https://pro.olympusdao.finance/#/partners/Crypto%20Raiders) takes you to the OP loading screen. OP partner is on the Polygon Network.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on https://pro.olympusdao.finance/#/partners/Crypto%20Raiders
2. See error

**Expected Behavior**
Should be able to view partner & the bond(s) associated

**Workarounds (if any)*

[2022-02-14 11:21] spaceturtleship commented on #1468
Fixed, closing

[2022-02-14 11:21] #1468 closed, assigned to nobody

[2022-02-15 08:22] 0xJem commented on #1438
@appleseed-iii Happy to chat about this if you'd like more clarity!

[2022-02-15 16:52] appleseed-iii commented on #647
closing per discussion w goats. Project Management for this is in Notion

[2022-02-15 16:52] #647 closed, assigned to goatsOnDrugs

[2022-02-15 16:52] appleseed-iii commented on #642
closing per discussion w goats. Project Management for this is in Notion

[2022-02-15 16:52] #642 closed, assigned to nobody

[2022-02-15 16:52] appleseed-iii commented on #646
closing per discussion w goats. Project Management for this is in Notion

[2022-02-15 16:52] #646 closed, assigned to nobody

[2022-02-16 01:54] WarTech9 commented on #1425
This crash occurs when reading the `addresses[networkId].OHM_V2` for the Sushiswap and Uniswap button links, since the networkId is not valid. @appleseed-iii I can put in a PR for this but wondering how should this be handled? Easiest thing would be just to hide or disable the buttons on any unsupported network?

[2022-02-16 02:07] WarTech9 commented on #1199
@ivelin think I can open a PR for this but to clarify, is the task here to write unit tests for the files under `src/components/TopBar/Wallet`?

[2022-02-16 06:40] 0xJem commented on #1199
That's right! Bonus points for paying attention to the code coverage and ensuring different code paths are tested!

[2022-02-16 16:35] WarTech9 commented on #1199
Gotcha... I'm on it!

[2022-02-16 17:28] ivelin opened #1482 "[DOCS] document how to setup dev .env"
**Is your feature request related to a problem? Please describe.**
Currently [README.md](https://github.com/OlympusDAO/olympus-frontend#-setting-up-local-development) and [`.env.example`](https://github.com/OlympusDAO/olympus-frontend/blob/develop/.env.example) are outdated.
Neither file covers the full set of settings required to run a smooth dev environment. As a result when a new dev starts the

[2022-02-16 17:39] ivelin opened #1483 "[DEV] stop axios from logging errors in dev console"
**Is your feature request related to a problem? Please describe.**
Sometimes remote APIs are down or not accessible from a dev environment. Even when the code handles the axios exception and uses a fallback API, the `axios` lib still logs an error in the console which gives the wrong impression that the API call was not handled gracefully.

**Describe the solution you'd like. Include clear accepta

[2022-02-16 18:10] ivelin commented on #598
Thank you for looking into this issue. It was originally open in October and a lot has changed since.

The main goal that still remains valid is to cover the various execution paths for dashboard rendering. Possibly through a combination of snapshot and generative tests that feed components with various mock data and verify that results are acceptable.

As we discussed on the call this morning, yo

[2022-02-17 06:07] 0xJem opened #1486 "Jest tests have hanging connections"
`--forceExit` seems fine to me. I ran jest with `--detectOpenHandles` and we have a couple loose ends to tie up, but that can be handled in a separate pr.

_Originally posted by @appleseed-iii in https://github.com/OlympusDAO/olympus-frontend/pull/1484#discussion_r808431146_

[2022-02-17 18:20] #1482 closed, assigned to nobody

[2022-02-21 14:31] #1302 closed, assigned to 0xJem

[2022-02-21 14:31] #1451 closed, assigned to 0xJem

[2022-02-22 05:46] WarTech9 commented on #1199
@0xJem Are there additional tests that need to be written for this issue? I was thinking of adding a couple more but not much can be added without modifying the components.

[2022-02-23 05:16] 0xJem commented on #1199
If you can push the coverage up by writing some more, sure! How would you want to modify the components? Do you think it would make the code easier to maintain?

[2022-02-23 15:06] gord0b opened #1512 "[BUG] - Align decimal formats of Current Index on APP"
**Describe the Bug**
Align decimal formats of 'Current Index' on https://app.olympusdao.finance. Decimals vary between 1 and 2 decimals, standardize across APP to display 2 decimals for 'Current Index'

**To Reproduce**
Steps to reproduce the behavior:
**Dashboard Page:** https://app.olympusdao.finance/#/dashboard
Example: Current Index: 86.90 sOHM (contains 2 decimals) - **GOOD**

**Stake Page:**

[2022-02-24 02:27] sam-potter commented on #1512
Stake page: Fixed as of #1401 and will go live once develop is merged to master.

Wrap page: Fixed in draft PR #1515

[2022-02-24 12:21] appleseed-iii commented on #1425
@brightiron can you handle this in your pending Wallet V2 changes?

[2022-02-24 15:15] brightiron commented on #1425
Yes, this will be handled with v2 updates. Couple of improvements:
- We'll change these buttons to mainnet links if a user is on an unsupported network.
- even if the above doesn't happen, our react-query improvements catch unsupported network errors without blocking the entire UI.

Linking #1487 for rollout tracking

[2022-02-28 06:46] kr1tzy commented on #1483
Turns out this is actually default [Browser behavior](https://stackoverflow.com/questions/57372171/axios-stop-404-error-appearing-in-the-console-log) and [isn't possible to fix with JS](https://stackoverflow.com/questions/16372271/jquery-ajax-how-to-prevent-404-errors-spam-in-chrome-devtools).

So there are two options --
1. Adjust your browser's settings to "Hide network" (below is Chrome)

![Scr

[2022-02-28 22:18] ivelin commented on #1483
Thank you for thorough research and proposed solutions, @kr1tzy .
I agree that Option 2 is not desirable as it may hide other important messages we should know about.
Option 1 seems to be a reasonable workaround for right now until `api.olympusdao.finance` provides a mechanism for dev calls to the API from a broader range of hosts via API_KEY or a similar mechanism that are not CORS restricted.

I

[2022-03-01 03:05] kr1tzy commented on #1483
@ivelin Definitely, happy to help.

[2022-03-01 16:59] ivelin commented on #1483
@kr1tzy Would you like to get more involved with DAO roadmap? If so, please DM on discord: ivelin.eth Ω#2149

[2022-03-01 20:11] kr1tzy commented on #1483
@ivelin DM'd

[2022-03-01 20:32] #1483 closed, assigned to nobody

[2022-03-02 17:08] gord0b commented on #1512
Thx @sam-potter, when will the fix in the draft PR, https://github.com/OlympusDAO/olympus-frontend/pull/1515, be actioned?

[2022-03-03 01:24] sam-potter commented on #1512
@gord0b there's a few blockers in the way, but #1515 should hopefully be merged in a week or two.

[2022-03-05 19:01] biwano opened #1541 "[BUG] Incorrect display of non latin characters"
**Describe the Bug**
The display of non latin characters ois often not correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Stake.'
2. Change language to Turkish
3. See error

**Expected Behavior**
Non latin characters should display correctly

**Workarounds (if any)**
None

**Screenshots**
![image](https://user-images.githubusercontent.com/11857992/156896652-dcbab4d5-8320-4762-9e

[2022-03-05 19:05] biwano commented on #1541
The issue was reported by kleervoyans.

I suspect the fonts pack to be incomplete.

[2022-03-05 19:11] kleervoyans commented on #1541
At first biwano and I thought that the font set was incomplete and didn't support special characters, but after doing some tests on my own with our font, Euclid Square, I saw that they were fine. See below;
![image](https://user-images.githubusercontent.com/92606923/156896874-f4ebdf4b-17ad-4aee-ae0c-4ccc4b1f302c.png)
See the comparison side-by-side;
![image](https://user-images.githubusercontent.c

[2022-03-06 04:07] brightiron commented on #1541
The issue here is specifically with unicode ranges. Our font-face has unicode ranges set, but for latin characters its currently set to basic latin. I've opened PR #1542 that resolves this issue and extends the latin range through latin-extended-b 0000-024F.
Euclid Square also supports Cyrillic , so I added that range as well. You can view a fleek preview link in that PR. Hope this helps!

[2022-03-06 12:37] kleervoyans commented on #1541
Ah, so that's the problem. We discussed initially that Unicode ranges would need to get edited, but couldn't be sure. Thanks brightiron.

[2022-03-07 13:56] #1541 closed, assigned to biwano

[2022-03-10 20:09] ivelin commented on #1512
@appleseed-iii @sam-potter I'm going through open bugs and trying to clean up.

This one is marked as closed by PR #1515 which has been pending for 15 days. What is needed to unblock, merge and close?

[2022-03-10 20:11] sam-potter commented on #1512
@ivelin #1515 should be merged in a few hours

[2022-03-10 20:13] ivelin commented on #1430
@0xJem @biwano I am going through open bugs and trying to clean up.

This one has been open for over a month. I see its assigned to @0xJem, but it's waiting on a response by @biwano .
What is needed to unblock and close?

[2022-03-10 20:15] ivelin commented on #1427
@siferbel can we close the issue here?

[2022-03-10 20:16] ivelin commented on #1425
HI @brightiron I'm trying to clean up open bugs. This one is linked to #1487 which is pending for 14 days.
What is needed to unblock, merge and close?

[2022-03-10 20:18] ivelin commented on #1411
@OlympusDAO/frontend who is available to take on this bug report?

[2022-03-10 20:19] ivelin commented on #1275
@OlympusDAO/frontend who is available to take on this bug?

[2022-03-10 20:19] ivelin commented on #233
Closing since there are no follow up objections for awhile.

[2022-03-10 20:19] #233 closed, assigned to appleseed-iii

[2022-03-10 20:27] brightiron commented on #1425
#1487 is our WalletV2 project. this is resolved with WalletV2 which is why it's linked. The PR is pending because the scope of the PR is significantly larger than this specific issue. Nothing needed currently to unblock, it's just pending WalletV2 release.

[2022-03-10 20:33] sam-potter commented on #1411
I believe apple may have fixed this with #1527? Could you try reproduce this @ivelin and confirm?

[2022-03-10 22:42] ivelin commented on #1425
Thank you for the clarification @brightiron .

[2022-03-10 22:43] ivelin commented on #1411
Good point. Will test. Thank you, @sam-potter

[2022-03-11 12:55] 0xJem opened #1563 "[BUG] unit tests fail when REACT_APP_GOOGLE_ANALYTICS_API_KEY is defined"
**Describe the Bug**

The following test failure occurs when the REACT_APP_GOOGLE_ANALYTICS_API_KEY variable is defined in `.env`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set the `REACT_APP_GOOGLE_ANALYTICS_API_KEY` variable in `.env`
2. `yarn`
3. `yarn test:unit

Commenting the `REACT_APP_GOOGLE_ANALYTICS_API_KEY` line in `.env` results in tests passing.

[2022-03-14 18:38] ivelin commented on #1512
Hi @sam-potter just doing some housekeeping. Are there any blockers for the merge?

[2022-03-14 19:00] ivelin commented on #1411
Just checked and this is still not resolved. I continue to see these uncaught exceptions. It makes it impossible for the end user to connect to a wallet, because Connect Wallet just silently eats the click without any feedback to the user.
It occurs when the metamask wallet is logged out.

Only after metamask is logged into an account, olypmpus front end Connect Wallet button disappears and is rep

[2022-03-15 00:01] sam-potter commented on #1512
@ivelin - Just pending a review from @appleseed-iii

[2022-03-15 14:48] appleseed-iii commented on #1427
still off by 100. I pinged siferbel in dms

[2022-03-15 14:51] appleseed-iii commented on #1411
@ivelin check on staging. it appears to be working for me.

[2022-03-15 15:10] appleseed-iii commented on #1427
ok, we've found out that siferbel is using the APY calculated here: https://github.com/OlympusDAO/olympus-protocol-metrics-subgraph/blob/dd9a6cb16d50a63edfc8406ace8d5ddd98fe882e/src/utils/ProtocolMetrics.ts#L494

_**UPDATE**_
the problem is in the extra `.times(100)` in this line https://github.com/OlympusDAO/olympus-protocol-metrics-subgraph/blob/dd9a6cb16d50a63edfc8406ace8d5ddd98fe882e/src/utils

[2022-03-15 17:19] ivelin commented on #1411
You are correct. The issue does not occur on staging. I did not realize the fix is not on prod yet. We can close this issue as soon as the fix is in prod and can be verified.

![Screen Shot 2022-03-15 at 12 18 13 PM](https://user-images.githubusercontent.com/2234901/158434610-357cad8e-9654-40b2-93b7-98e8d4981488.png)

[2022-03-16 16:54] ivelin opened #1575 "[BUG] OHM API rejects front end calls"
**Describe the Bug**
Dev console shows errors for access to api.olympusdao.finance

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard'
2. Open browser dev console
3. See error log

**Expected Behavior**
OHM API should not reject front end calls.

**Workarounds (if any)**
Currently front end code has a fall back mechanism to coingecko.

**Additional context***

Screenshots and c

[2022-03-17 16:16] guerrillatrader opened #1580 "[BUG] Recipient Address for Bonds"
**Describe the Bug**
I noticed that the bonding pages still include the option to enter a different address to receive the bond proceeds.  This feature was originally called "Hades."  However, I thought that capability had been removed with the v2 bonds.  If that's the case, then I think this should probably removed from the UI or at least the text box should be locked to only allow the address of

[2022-03-18 19:08] appleseed-iii commented on #1427
ok, fixed:
<img width="239" alt="image" src="https://user-images.githubusercontent.com/80423742/159068613-72a40e1c-52c2-4cf6-8bdd-e8a11ba7a4f2.png">
<img width="216" alt="image" src="https://user-images.githubusercontent.com/80423742/159068657-0651aaa3-5f79-4af8-b162-82e6ddf722db.png">

[2022-03-18 19:08] #1427 closed, assigned to nobody

[2022-03-18 20:27] appleseed-iii commented on #1580
that capability is still included in the V2 bonds. The `Hades` function fills the `recipientAddress` (`_user`) parameter in the bond deposit. You can see that `_user` parameter in the below screenshot:
<img width="554" alt="image" src="https://user-images.githubusercontent.com/80423742/159069066-ab05d917-9959-43de-ba1d-7c4f02b1adff.png">

link to the etherscan view of this function: https://ethers

[2022-03-21 22:55] ivelin opened #1593 "[BUG] Alert users when accessing staging"
**Describe the Bug**
Staging is a public access web site. Currently it does not warn users who may be interacting with the site that they are using non-production code that may impact their on-chain assets.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.olympusdao.finance/#/dashboard
2. Notice that there is no simple way for a regular user to distinguish from [prod sit

[2022-03-21 23:05] ivelin commented on #1512
@appleseed-iii bump ^^^

[2022-03-22 15:02] #1425 closed, assigned to nobody

[2022-03-22 16:51] guerrillatrader commented on #1580
To confirm, if I put an address, other than the one that I'm using to buy the bond, in the box, the bond proceeds will be directed to that address?  If the answer to that is "yes", then I agree that this issue can be closed.  Thanks.

[2022-03-23 17:01] Grey-Trainer commented on #1593
Working on a new banner solution now.

@ivelin and I discussed the possibility of visitors entering site from deeper links and suggest this new banner remain present throughout the app. Currently thinking of any other scenarios. Initially I was thinking red would be the best color considering the severity of the potential issues that could occur. However, the current design system only allocates r

[2022-03-23 17:33] #1512 closed, assigned to nobody

[2022-03-23 21:28] Grey-Trainer commented on #1593
Looking for early feedback on wording suggestion as well as comments on how this corresponds to design system. Used the design system but there wasn't a 100% width pinned banner.

This is extremely early and was hoping to get some extra eyes.

Thoughts:
- Used the design system but there wasn't a 100% width banner
- Red or orange was suggested but this isn't technically an error (no orange)
- Addi

[2022-03-24 02:33] appleseed-iii commented on #1580
Yes

[2022-03-24 02:33] #1580 closed, assigned to nobody

[2022-03-25 03:08] Grey-Trainer commented on #1593
Solution has been proposed. DS team has decided on best approach
![Group 485](https://user-images.githubusercontent.com/98845856/160046662-e3f02969-0b2f-49e1-8da8-5fe780e433b6.png)

![Screen Shot 2022-03-24 at 22 23 35](https://user-images.githubusercontent.com/98845856/160046666-411672b4-a7d0-4968-8d2a-48d1f7367c33.png)

[2022-03-25 12:58] ivelin commented on #1593
This version looks great to me. Prominent display in a warning color. Hard to miss.

[2022-03-25 14:48] Grey-Trainer commented on #1593
Desktop Tablet and mobile version can be found here:
https://www.figma.com/file/Yv3MynoOfFbFpd641XTl0z/stake---bond---Original?node-id=12%3A2

[2022-03-30 07:26] 0xJem opened #1626 "[BUG] Tooltip flickers on cursor movement"
**Describe the Bug**
Reported by `desge | UTC+3#6766` on Discord

https://user-images.githubusercontent.com/91760036/160775322-7df2519d-b03a-42ce-bb1f-5ee07e940fe5.mov

**Desktop (please complete the following information):**
- Experienced on Brave and Chrome browsers

[2022-04-01 07:04] sam-potter opened #1628 "[BUG] Closing wallet sidebar always returns to stake page"
**Describe the Bug**
When closing the wallet modal, it always returns to the stake page

**Expected Behavior**
The user should see the same page from which they opened wallet modal

**Screenshots**

https://user-images.githubusercontent.com/15123145/161212267-c8493c4c-448b-48ad-b9c5-6227f8119258.mov

[2022-04-01 07:14] sam-potter opened #1629 "[BUG] Missing loading state on stake page APY metrics"
**Describe the Bug**
When the app loads the APY metrics for cross-chain pools on the staking page, it displays "0%" until the metrics load.

**Expected Behavior**
Show a loading indicator to suggest that data is still loading (and not actually an APY of "0%"). Ideally, done inline with how the other metrics load.

**Screenshots**

https://user-images.githubusercontent.com/15123145/161213446-88b8c0

[2022-04-02 14:31] biwano commented on #1593
Hi guys, can you give me access to figma?
I can implement that if nobody has started working on it.

[2022-04-04 09:56] sam-potter opened #1634 "[BUG] App crashes when viewing transaction history on unsupported chain"
**Describe the Bug**
The whole app crashes in production if you view the transaction history with a wallet that is connected to an unsupported network.

**To Reproduce**
1. Connect to an unsupported network in your wallet, like Binance Smart Chain for example
2. Go to https://app.olympusdao.finance/#/wallet/history

**Screenshots**
https://user-images.githubusercontent.com/15123145/161520169-5e2be

[2022-04-04 09:57] sam-potter commented on #1634
I can't see the previous screenshot preview so i'll try this again:

https://user-images.githubusercontent.com/15123145/161520512-6a6ee974-e504-4f33-8f05-e7dbd3fa70f9.mov

[2022-04-05 16:51] appleseed-iii commented on #1634
@sam-potter you've got this one?

[2022-04-05 16:54] appleseed-iii commented on #639
this is a separate project in notion now

[2022-04-05 16:54] #639 closed, assigned to nobody

[2022-04-05 16:54] appleseed-iii commented on #638
this is a separate project in notion now

[2022-04-05 16:54] #638 closed, assigned to 0xJem

[2022-04-05 16:54] appleseed-iii commented on #637
this is a separate project in notion now

[2022-04-05 16:54] #637 closed, assigned to nobody

[2022-04-05 16:55] #499 closed, assigned to nobody

[2022-04-05 16:55] appleseed-iii commented on #175
this is a separate project in notion now

[2022-04-05 16:55] #175 closed, assigned to nobody

[2022-04-05 16:55] appleseed-iii commented on #225
this is a separate project in notion now

[2022-04-05 16:55] #225 closed, assigned to nobody

[2022-04-05 16:56] appleseed-iii commented on #227
this is a separate project in notion now

[2022-04-05 16:56] #227 closed, assigned to goatsOnDrugs

[2022-04-05 16:56] appleseed-iii commented on #226
this is complete

[2022-04-05 16:56] #226 closed, assigned to nobody

[2022-04-05 19:06] zthreethree opened #1637 "[BUG] Total Staked balance stuck on "loading""
**Describe the Bug**
Total staked balance on the staking page stays stuck on the loading animation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.olympusdao.finance/#/stake
2. See error in Total Staked Balance

**Expected Behavior**
Total equivalent staked balance should show up.

**Workarounds (if any)**
standard troubleshooting like clearing cache etc didn't work
**Scre

[2022-04-05 22:21] sam-potter commented on #1634
@appleseed-iii yep, I'll fix after the rq bond view is complete

[2022-04-08 12:32] sam-potter commented on #1637
I can't seem to reproduce this.

What network was your wallet connected to when this occurred?

Does the issue persist if you refresh the page?

Does the issue persist if you connect a different wallet address?

[2022-04-08 13:59] #1628 closed, assigned to brightiron

[2022-04-09 23:51] o0j4yj4y0o opened #1660 "[BUG] User Reported Java Error when using Zap to try and trade USDT for gOHM"
**Describe the Bug**

User Reported Java Error when using Zap to try and trade USDT for gOHM.

**To Reproduce**
N/A

**Expected Behavior**
Trade should have gone through as the USDT / gOHM Pair should be good.

**Workarounds (if any)**
N/A

**Screenshots**
![image](https://user-images.githubusercontent.com/103340425/162595205-7c193bf7-d5a4-42a1-9602-c48880055895.png)

**Desktop (please complete th

[2022-04-11 12:53] #1629 closed, assigned to nobody

[2022-04-11 13:39] appleseed-iii commented on #1637
I've definitely seen it, but I don't see it rn.

This could easily be related to intermittent downtime or latency on a Node Provider on one of the L2s. That feels most likely to me. What do you think @sam-potter ?
<img width="372" alt="image" src="https://user-images.githubusercontent.com/80423742/162751795-a8bfaa19-14c9-4a59-a6c1-95c55dab9267.png">

[2022-04-11 23:41] sam-potter commented on #1637
@appleseed-iii I agree thats probably the most likely cause. We can't know for sure without automated error reporting. If this is the case, is there anything we can do about that right now?

I've got ideas for improving error handling our app in general, but that should be a task for further down the track.

There's also another case where if a wallet is connected to a testnet, it'll stay loading

[2022-04-15 19:04] appleseed-iii commented on #1411
this has been on prod for a few weeks

[2022-04-15 19:04] #1411 closed, assigned to nobody

[2022-04-15 19:05] appleseed-iii commented on #1593
design being done as part of UI/UX upgrades project.

[2022-04-15 19:45] appleseed-iii commented on #1593
final approved designs https://www.figma.com/file/J9pbZ330V6V6Hau7MtuhtC/DS-V2?node-id=1530%3A33703

[2022-04-15 19:55] brightiron commented on #1626
Resolved in https://github.com/OlympusDAO/component-library/pull/130
Will submit a PR to this repo with an updated component-library version

[2022-04-16 00:31] brightiron commented on #1199
I'm gonna close this issue since this is complete with our testing improvements.

[2022-04-16 00:31] #1199 closed, assigned to WarTech9

[2022-04-16 00:32] brightiron commented on #1198
Closing. Test coverage of Staking area is adequate w/ testing improvements.

[2022-04-16 00:32] #1198 closed, assigned to nobody

[2022-04-16 00:32] brightiron commented on #1086
This is complete. Closing.

[2022-04-16 00:32] #1086 closed, assigned to 0xpaulio

[2022-04-16 00:38] brightiron commented on #653
This is complete

[2022-04-16 00:38] #653 closed, assigned to nobody

[2022-04-17 13:26] ohmSHAFT commented on #1637
Hi all, it appears this bug is still present. Recently a lot of ohmies have brought up the issue.

[2022-04-18 18:31] #1593 closed, assigned to brightiron

[2022-04-18 18:31] #1626 closed, assigned to brightiron

[2022-04-19 01:46] lipmaneth opened #1704 "Setup"
Initial setup of the new section in the dApp.

Finalising designs of deliverables. Signoff from the team.

[2022-04-19 01:49] lipmaneth opened #1705 "Contract flows"
Basic version illustrating the relationships between different contracts (with addresses).

Based on the inverse finance chart, but without treasury funds, TVL breakdown.

[2022-04-19 01:53] lipmaneth opened #1706 "Revenue vs. Expenses"
Charts illustrating revenue sources, expense categories and net profit alongside each other

[2022-04-19 01:59] lipmaneth opened #1707 "Treasury Decision Making Flow Chart"

[2022-04-19 02:00] lipmaneth opened #1708 "Policy Decision Making Flow Chart"

[2022-04-19 02:01] lipmaneth opened #1709 "Grants Decision Making Flow Chart"

[2022-04-19 02:04] lipmaneth opened #1710 "Incubator Decision Making Flow Chart"

[2022-04-19 02:58] #1710 closed, assigned to 0xJem

[2022-04-19 02:59] #1709 closed, assigned to 0xJem

[2022-04-19 03:00] #1708 closed, assigned to 0xJem

[2022-04-19 03:00] #1707 closed, assigned to 0xJem

[2022-04-19 03:00] #1706 closed, assigned to 0xJem

[2022-04-19 03:00] #1705 closed, assigned to 0xJem

[2022-04-19 03:00] #1704 closed, assigned to 0xJem

[2022-04-19 13:39] 0xJem opened #1713 "Setup"
Initial setup of the new section in the dApp.

Finalising designs of deliverables. Signoff from the team.

[2022-04-19 13:39] 0xJem opened #1714 "Contract Flows"

[2022-04-19 13:39] 0xJem opened #1715 "Revenue vs. Expenses"

[2022-04-19 13:39] 0xJem opened #1716 "Treasury Decision Making Flow Chart"

[2022-04-19 13:39] 0xJem opened #1717 "Policy Decision Making Flow Chart"

[2022-04-19 13:39] 0xJem opened #1718 "Grants Decision Making Flow Chart"

[2022-04-19 13:39] 0xJem opened #1719 "Incubator Decision Making Flow Chart"

[2022-04-19 14:27] brightiron commented on #645
i'm going to close this since much has changed since this was opened.
In the cases where we need to address a specific element, data-testid should be used when an element can't be selected by another method.

[2022-04-19 14:27] #645 closed, assigned to nobody

[2022-04-20 13:12] zthreethree opened #1722 "[BUG] OlyZap Error when pressing Zap-Stake"
**Describe the Bug**
Trying to Zap-Stake from ETH to sOHM/gOHM results in an error.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.olympusdao.finance/#/zap
2. Go from ETH, to gOHM/sOHM
3. Press ZapStake
4. See error (in screenshot below)

**Expected Behavior**
Zap-Stake should result in a successful transaction.
**Workarounds (if any)**
Can't see any.
**Screenshots**
![Scre

[2022-04-22 15:49] #1634 closed, assigned to sam-potter

[2022-04-23 01:30] appleseed-iii commented on #1722
Going to close this for now for two reasons:
1. zapper reported a momentary outage
2. we also upgraded to a private zapper api key, which could also have caused intermittent rate-limiting issues

[2022-04-23 01:30] #1722 closed, assigned to nobody

[2022-04-25 12:22] 0xJem commented on #1713
json feels that the dashboard has some redundant metrics.

cut treasury balance, monthly income. Duplicated elsewhere.

Number of holders is good.

number of open OIPs? Snapshot, taps, wallets active in governance. Forum uses https://flarum.org/

Equivalent of voter turnout.

Check with edgecaser.

[2022-04-27 13:16] lipmaneth commented on #1719
@0xJem note this has been descoped from MVP.

[2022-04-27 13:21] lipmaneth opened #1748 "DAPP Metrics"
Need to determine how we automate pulling the following while remaining consistent with the rest of the site if these are also shown elsewhere:
1. holders
2. voter turnout
3. open proposals

[2022-04-27 23:00] o0j4yj4y0o opened #1750 "[BUG] User Reported an Error on the dAPP when trying to Migrate from v1 to v2"
**Describe the Bug**
When attempting to Migration from v1 to v2, a red error appears with the following information:

Error
replacement fee too low [ See: https://links.ethers.org/v5-errors-REPLACEMENT_UNDERPRICED ] (error={"code":-32603,"message":"[ethjs-query] while formatting outputs from RPC '{"value":{"code":-32000,"message":"replacement transaction underpriced"}}'","stack":"{\n "code": -3260

[2022-04-28 15:04] appleseed-iii commented on #1750
`replacement fee too low`
is an error internal to your wallet. Typically this means you have a pending transaction that you are trying to replace. If not, then your wallet is re-using a nonce, which throws the error.

[2022-04-28 15:04] #1750 closed, assigned to nobody

[2022-04-28 19:22] #286 closed, assigned to nobody

[2022-04-28 19:22] #263 closed, assigned to nobody

[2022-04-28 19:59] appleseed-iii commented on #1011
thread for discussion: https://discord.com/channels/838651642190495804/969326264907333653/969326267247767612

[2022-04-29 14:02] 0xJem commented on #1713
Overall framework/infra has been implemented.

[2022-04-29 14:02] #1713 closed, assigned to 0xJem

[2022-04-29 14:04] 0xJem commented on #1714
Approaching V1 of the contract flows.

Discussion: https://discord.com/channels/838651642190495804/965970736823009370

![Current diagram](https://cdn.discordapp.com/attachments/965970736823009370/969577616682123284/Screenshot_2022-04-29_at_4.34.29_PM.png)

TODO:
- [ ] Tooltips

Implemented in #1743

[2022-04-29 14:05] 0xJem commented on #1748
Holders: add multi-chain data
Voter turnout/proposals: need to pull data

[2022-04-29 14:06] 0xJem commented on #1748
Discussion on the holder metric: https://discord.com/channels/838651642190495804/969212953838628864

Discussion on V1 metric selection: https://discord.com/channels/838651642190495804/969215896583295016

[2022-04-29 14:06] 0xJem opened #1754 "Landing Page"

[2022-04-29 14:07] 0xJem commented on #1754
Discussions: https://discord.com/channels/838651642190495804/968835028685574154

Landing page has been implemented. Needs to be responsive.

[2022-05-03 07:08] biwano commented on #911
I could not reproduce this issue (tried on tesnet with amount `0.11111111111111111111111111111111111111111111`).  It was most probably solved as part of another development.
Can we close this issue?
cc: @appleseed-iii

[2022-05-16 12:39] 0xJem opened #1822 "Bonds screen should default to inverse bonds if there are no bonds"
If there are no bonds available for the given chain, the bonds screen should default to inverse bonds.

Suggested by @appleseed-iii

[2022-05-16 21:10] #1822 closed, assigned to 0xJem

[2022-05-17 13:17] neone4373 opened #1826 "[BUG] Not able to stake via UI"
**Describe the Bug**
I am unable to stake via the UI

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.olympusdao.finance/#/stake
2. Click on stake to gohm
4. See error
Error
cannot estimate gas; transaction may fail or may require manual gas limit [ See: https://links.ethers.org/v5-errors-UNPREDICTABLE_GAS_LIMIT ] (error={"message":"execution reverted","code":3}, method="est

[2022-05-17 13:26] neone4373 commented on #1826
JS stack trace:

inpage.js:1 MetaMask - RPC Error: execution reverted {code: -32603, message: 'execution reverted', data: {…}}
(anonymous) @ inpage.js:1
(anonymous) @ inpage.js:17
_runReturnHandlers @ inpage.js:17
_processRequest @ inpage.js:17
await in _processRequest (async)
_handle @ inpage.js:17
handle @ inpage.js:17
_rpcRequest @ inpage.js:1
(anonymous) @ inpage.js:1
request @ inpage.js:1
(an

[2022-05-19 13:01] #1430 closed, assigned to 0xJem

[2022-05-19 18:30] appleseed-iii opened #1836 "Fix deploy errors on react-query upgrade pr #1816"
https://github.com/OlympusDAO/olympus-frontend/pull/1816

[2022-05-19 18:31] appleseed-iii opened #1837 "Fix deploy errors on redux upgrade pr #1806"
https://github.com/OlympusDAO/olympus-frontend/pull/1806

[2022-05-19 18:44] appleseed-iii opened #1839 "React-Scripts 5 Upgrade"
https://github.com/OlympusDAO/olympus-frontend/pull/1766

[2022-05-19 18:45] appleseed-iii commented on #1637
I think the proper solution for now is monitoring RPC uptime. Going to close this for now

[2022-05-19 18:45] #1637 closed, assigned to sam-potter

[2022-05-19 18:46] appleseed-iii commented on #1826
this issue has been resolved.

[2022-05-19 18:46] #1826 closed, assigned to nobody

[2022-05-19 18:47] appleseed-iii commented on #1575
removed OHM API from frontend after the react-query upgrades were completed.

[2022-05-19 18:47] #1575 closed, assigned to nobody

[2022-05-19 18:47] appleseed-iii commented on #1271
@0xJem is this still applicable? Or did we fix it in the react-query upgrades?

[2022-05-19 18:50] #1227 closed, assigned to ivelin

[2022-05-19 18:51] appleseed-iii commented on #1223
completed

[2022-05-19 18:51] #1223 closed, assigned to nobody

[2022-05-19 18:53] appleseed-iii commented on #500
This one should happen after web3-modal replacement with wagmi.sh #1840 so that we don't have to integrate with `safe-app web3Modal`

[2022-05-19 18:53] appleseed-iii opened #1840 "Replace Web3Modal with wagmi.sh & potentially rainbow kit"

[2022-05-20 01:53] 0xLienid commented on #1840
I'm personally a big fan of incorporating wagmi, especially in replacement of Web3Modal. The useConnect and useAccount hooks are really clean and nice to use. useBalances can also be nice as you can return either the token balance pre-formatted based on its decimals as a string, or get the raw balance + decimals in one call rather than two with base ethers and then immediately use that to create a

[2022-05-20 04:58] jaas666 commented on #1277
PR #1261 referenced on this issue was closed as stale. Should we close this issue too?

[2022-05-20 18:07] brightiron opened #1842 "Improve run times on Unit Test Github action step."
current action takes almost 16 minutes to run.
look into caching results to speed up runtime

[2022-05-20 18:11] brightiron commented on #1842
We can publish a report.json file on merge into develop, and reference the report.json in our test action.  https://github.com/ArtiomTr/jest-coverage-report-action#use-existing-test-reports

This will cut runtime on PR's in half.

Need to look into publishing unit test results as artifacts and how to reference them in our unit test action.

[2022-05-20 18:46] 0xJem opened #1844 "[BUG] Unstaking warning is not visible in dark mode"
<img width="857" alt="Screenshot 2022-05-20 at 10 45 26 PM" src="https://user-images.githubusercontent.com/91760036/169592795-2617ad61-893e-48d6-8e60-6710b0dc6632.png">

[2022-05-22 20:02] #1844 closed, assigned to brightiron

[2022-05-23 00:50] brightiron opened #1852 "Add Curve Pool to Farm Pool List ."
https://curve.fi/factory-crypto/21

Mainnet:
Pool Address: 0x6ec38b3228251a0C5D491Faf66858e2E23d7728B
LP Token Address: 0x3660BD168494d61ffDac21E403d0F6356cF90fD7
Gauge: 0x8dF6FdAe05C9405853dd4cF2809D5dc2b5E77b0C
Gauge Controller: 0x2F50D538606Fa9EDD2B11E2446BEb18C9D5846bB

[2022-05-23 01:10] sam-potter commented on #1840
I'm also a big fan of removing the web3modal in favor of rainbowkit's, that shit looks so good.

+1 to this @0xLienid, the account and wallet state hooks look great. And they're generic enough that if we ever want to implement our own modal in future, it shouldn't be too difficult.

I should note that I'm not a fan of their `useContract` and similar contract hooks. I understand why they've designe

[2022-05-23 01:35] brightiron commented on #1837
fixes pushed to #1806

[2022-05-23 02:13] brightiron commented on #1836
fixed in #1816 branch

[2022-05-23 06:46] 0xJem commented on #1271
I don't think this is applicable. The `useApproveToken` react-query hook now checks if the token and contract address exist, and complain loudly if not.

https://github.com/OlympusDAO/olympus-frontend/blob/628306b2c67442c373314fc76a0afaef8a277e16/src/components/TokenAllowanceGuard/hooks/useApproveToken.ts#L21

[2022-05-23 06:46] #1271 closed, assigned to 0xJem

[2022-05-24 18:25] #1836 closed, assigned to brightiron

[2022-05-24 19:34] #1852 closed, assigned to brightiron

[2022-05-24 20:12] #1837 closed, assigned to brightiron

[2022-05-25 02:52] appleseed-iii commented on #1839
ok, PR 1766 is building now with the new docker image.

[2022-05-25 19:06] #1011 closed, assigned to nobody

[2022-05-26 01:36] #1839 closed, assigned to appleseed-iii, 0xJem

[2022-05-26 20:17] #1842 closed, assigned to brightiron

[2022-05-30 02:43] sam-potter opened #1889 "ENS name should also display where wallet address is in wallet drawer"

[2022-06-02 01:48] brightiron opened #1910 "Add Convex Staking Pool"
Curve OHM-ETH LP.
Staked in Convex instead of Curve Gauge.

Should be able to use this subgraph directly to query APY:

https://thegraph.com/hosted-service/subgraph/convex-community/curve-pools

[2022-06-02 02:53] sam-potter opened #1911 "Minimise HTTP requests"
On initial load of the stake page, our app is currently making ~357 network requests in total. Of that, ~330 are fetch/xhr related.

There was an issue proposed in Jan about this problem #1225, and at that time we were making less requests than we are at present.

`react-query` was the first major effort to reduce this problem by preventing loading any data that wasn't explicitly needed in the cur

[2022-06-02 03:02] sam-potter commented on #1911
I thought we'd be able to use this as a discussion thread w/o having to open it as a separate issue, but it seems that's not possible. I'll just close this issue for simplicity and add my comments to #1255 given that it's still open.

[2022-06-02 03:02] #1911 closed, assigned to nobody

[2022-06-02 03:27] sam-potter commented on #1225
Just want to resurface this issue, since atm the stake page is currently making ~357 network requests in total. Of that, ~330 are fetch/xhr related.

Since this was opened, it looks like the problem has actually worsened as more info/features have been added. Implementing `react-query` ensured we weren't over fetching data that wasn't needed in the visible UI, but now that the individual UI's are

[2022-06-02 05:24] 0xJem commented on #1225
Yikes. Is it easy to get an analysis of the hosts that requests are being sent to? Or categorise what data the requests are fetching?

@appleseed-iii is this something we can prioritise?

[2022-06-02 06:37] sam-potter commented on #1225
The developer tools network tab is the easiest way to analyse the requests, and the request log can be saved as a `.har` but it contains sensitive info so I won't share it here.

An approx categorisation of the fetch/xhr requests:
- 300 requests are to on-chain providers across all the different networks
- 20 request to coingecko for price data
- 10 combined requests to The Graph, Google Analytics

[2022-06-02 15:31] brightiron commented on #1225
Some of these requests on the stake page specifically would be due to External Farm Pools. Since each farm pool has at a minimum 2 contracts (sometimes three), and multiple functions required to call to calculate APY and TVL, some of these requests are unavoidable unless we move from contract queries to subgraph queries or use multicall either by rolling our own solution or using a package like th

[2022-06-03 17:20] brightiron opened #1921 "Update to jest-coverage-badges-ts"
upgrade from:
https://www.npmjs.com/package/jest-coverage-badges

to:
https://github.com/christophe77/jest-coverage-badges-ts

since the first package hasn't been updated in 3+ years

[2022-06-03 17:20] brightiron commented on #1921
package was unused so removing in #1920

[2022-06-04 04:21] #1921 closed, assigned to brightiron

[2022-06-06 14:14] appleseed-iii commented on #1225
I downloaded the har about a month ago & ran it through a script to export the contract & call data to the csv for each Provider call... that way you can see which contracts & functions are being called multiple times. At the time I think I found 1 or two contracts that were being duplicated & then put in prs to remove the duplication (usually old code from Account Slice).

Anyways, point being it

[2022-06-06 16:18] #1910 closed, assigned to brightiron

[2022-06-06 19:47] appleseed-iii commented on #1486
@0xJem do you think this one is still an issue? I don't see it in the CI any more.

[2022-06-07 07:17] 0xJem commented on #1486
Must have been fixed with some of the recent changes!

[2022-06-07 07:17] #1486 closed, assigned to nobody

[2022-06-09 19:25] appleseed-iii commented on #1660
This may have been an issue with the Zapper API, which we upgraded around this time. Will close this for now as I don't think it's resurfaced since then.

[2022-06-09 19:25] #1660 closed, assigned to nobody

[2022-06-10 07:01] sam-potter commented on #1225
This is good to know. Means request caching/deduplication won't be needed.

Agreed, this is key.

I think the ultimate problem we're solving for is improving all the performance metrics outlined in the initial lighthouse report of this issue (here's an [updated version](https://www.webpagetest.org/result/220610_AiDcHN_282) that's more relevant). Likely aiming to have all those metrics in the green

[2022-06-10 14:33] #1563 closed, assigned to brightiron

[2022-06-11 01:08] brightiron commented on #239
closing this since the Typescript refactor is complete

[2022-06-11 01:08] #239 closed, assigned to 0xdavinchee

[2022-06-11 17:39] appleseed-iii commented on #981
This was previously resolved

[2022-06-11 17:39] #981 closed, assigned to nobody

[2022-06-11 17:40] appleseed-iii commented on #1292
This would be a UX optimization rather than a bug but something we can review

[2022-06-11 17:41] appleseed-iii commented on #911
yes, this was resolved previously when we changed our math formulas

[2022-06-11 17:41] #911 closed, assigned to nobody

[2022-06-11 17:47] appleseed-iii opened #1941 "Update Landing Page per feedback"
https://www.notion.so/olympusdao/c11e21b1256b40efb234eee9380956ea?v=2d843d3d8c034942ab78bc5277f65ef1

[2022-06-11 17:48] appleseed-iii commented on #1941
I put this on the dapp frontend repo just bc we don't have a good place for landing page issues...

[2022-06-11 22:11] appleseed-iii opened #1942 "Fix Payout Asset Link on Inverse Bonds"
![Image](https://user-images.githubusercontent.com/80423742/173206470-b878a37c-c788-43e7-9ecc-aa21e414a2f3.png)

The payout asset `get asset` link goes to olympusdao.finance. It should link to etherscan for that asset (in theory that way a user could verify what asset they're getting, which was more important when there were multiple versions of UST floating around).

[2022-06-16 18:11] #1942 closed, assigned to brightiron

[2022-06-17 14:31] #1840 closed, assigned to brightiron

[2022-06-20 09:08] 0xJem commented on #1438
Further on this:

The issues that we see with the Fleek deployment using an inconsistent environment (sometimes using the standard create-react-app Docker image, sometimes using our custom one) could be solved by running the Fleek CLI in GitHub Actions, as we would be specifying the runtime environment.

[2022-06-20 15:15] appleseed-iii commented on #1438
I'm on board with this. I think I will have time later this week to make those changes.

[2022-06-23 07:27] #1719 closed, assigned to 0xJem

[2022-06-23 07:27] #1754 closed, assigned to 0xJem

[2022-06-23 07:27] #1718 closed, assigned to 0xJem

[2022-06-23 07:28] #1717 closed, assigned to 0xJem

[2022-06-23 07:28] #1716 closed, assigned to 0xJem

[2022-06-23 07:28] #1748 closed, assigned to 0xJem

[2022-06-23 07:28] #1715 closed, assigned to nobody

[2022-06-23 07:28] #1714 closed, assigned to 0xJem

[2022-06-23 07:42] 0xJem opened #1997 "Shift treasury dashboard to liquid backing"
- Total backing metric (in the top bar) should refer to liquid backing instead
- Replace total value deposited with liquid backing over time
- Market value categories should be stable/volatile/protocol-owned liquidity
- Also ensure that the categories of market value add up to the displayed market value total

[2022-06-23 07:46] 0xJem commented on #1997
Categories add up to total:

247825195+64841897+61537496 = 374204588

[2022-06-23 07:48] 0xJem commented on #1997
Market value
<img width="545" alt="Screenshot 2022-06-23 at 11 46 53 AM" src="https://user-images.githubusercontent.com/91760036/175244921-b91d9403-12e9-4812-b78e-b5418d843e27.png">
<img width="546" alt="Screenshot 2022-06-23 at 11 46 31 AM" src="https://user-images.githubusercontent.com/91760036/175244937-e8dd5254-6059-420f-89fc-6bf0f9d79c9b.png">

Liquid backing
<img width="542" alt="Screenshot

[2022-06-23 07:49] 0xJem commented on #1997
Note that the new subgraph is still indexing, so data isn't current.

[2022-06-23 07:50] 0xJem opened #1998 "Treasury dashboard should use theme palette"

[2022-06-23 12:30] 0xJem opened #2001 "[BUG] Report error if dashboard charts do not receive data in the required format"
If the dashboard charts receive no data (e.g. there's an issue with the subgraph), the entire frontend app crashes (and reports an error in the console).

Instead, the dashboard should report an error next to the affected chart.

For example:

[2022-06-23 12:30] 0xJem commented on #2001
Thoughts on the wording @appleseed-iii ?

[2022-06-24 06:55] 0xJem opened #2004 "[BUG] time to rebase shows as loading indefinitely"
Loading the staking page on the production frontend, one issue occurring today (24/06/2022) is that the time to rebase shows as loading.

There's an error in the console:
<img width="473" alt="Screenshot 2022-06-24 at 10 50 04 AM" src="https://user-images.githubusercontent.com/91760036/175479846-9bad6dde-eb4b-4e9d-8d0f-eadc49c4efe6.png">

This is caused by `secondsToNextEpoch()` on the V2 staking

[2022-06-24 07:00] 0xJem commented on #2004
Additional error found in the console:
[code]

[2022-06-24 07:03] 0xJem commented on #2004
The error could be occurring in either of these locations:
- `useNextRebaseDate` hook
- AppSlice.ts#111

[2022-06-24 07:14] 0xJem opened #2005 "[BUG] manual gas limit while staking"
Reported by @unbanksy and a user in the community server: https://discord.com/channels/798328113087119371/989779855581249536

[2022-06-24 16:29] appleseed-iii commented on #2001
I think I'd rather direct them to Discord only (rather than Twitter also). But other than that it makes sense.

There was an error fetching or processing data for this chart. Please report this on Twitter or the Discord server.

[2022-06-29 01:22] brightiron commented on #2005
@0xJem - are we good to close this? I think this was resolved from sc team

[2022-06-29 01:22] brightiron commented on #2004
related to #2005.

[2022-06-29 01:24] brightiron commented on #1889
resolved via #1915

[2022-06-29 01:24] #1889 closed, assigned to nobody

[2022-06-29 06:12] 0xJem commented on #2005
Yes. In case it happens again:

This was caused by the staking "keeper" running out of ETH.
There is now a low balance monitor that will send an alert into the dev discord server.

[2022-06-29 06:12] #2005 closed, assigned to nobody

[2022-06-29 06:12] 0xJem commented on #2004
See comment in #2005.

[2022-06-29 06:12] #2004 closed, assigned to nobody

[2022-06-29 10:57] 0xJem opened #2021 "Chart: OHM price vs liquid backing per OHM"
Existing chart (stable/volatile/PoL), with additions:
- ~~Ability to set a time filter: 7/14/30/90/180/365d or max~~ (out of scope: #2025)

[2022-06-29 10:57] 0xJem opened #2022 "Decide on charting library to use"
Considerations:
- The current implementation of charts is spread across many files, and feels quite kludgy. Is this due to the library we use (recharts), or the implementation?
- Recharts isn't responsive, unless we add a wrapper. https://recharts.org/en-US/api/ResponsiveContainer
- Is there a smoother approach to passing data from GraphQL to the charts?
- Can we use subscriptions or polling and h

[2022-06-29 10:57] 0xJem opened #2023 "Table: market value components"
Display the assets that make up the market value:
- Token name (+ icon)
- Category (stable, volatile, PoL)
- Blockchain
- Value

Support pagination

Should have a cut-off for value

Values should reflect the currently-selected data in the chart. Move along the timeline and the values update accordingly.

[2022-06-29 10:57] 0xJem opened #2024 "Chart: protocol-owned liquidity"
Stacked area chart, like on Dune.

Needs time filter.

[2022-06-29 10:59] 0xJem commented on #2022
Data: needs to be massaged in order to get into the right format, regardless of the charting library.

Responsive: we can add the recharts responsive wrapper

My opinion is that the way we have implemented recharts is needlessly complicated. A cleanup of the codebase will be needed.

[2022-06-29 10:59] #2022 closed, assigned to 0xJem

[2022-06-29 11:10] 0xJem commented on #2022
Recharts doesn't have a component to do date filtering.

Nor does chart.js.

Example of how to achieve this (but the date picker is outside of the chart): https://jsfiddle.net/canvasjs/zxrkh502/

[2022-06-29 13:21] 0xJem opened #2025 "Data can be filtered by date"
A date filter is provided that affects all charts in the dashboard.

This enables the user to select dates relative to the current one, e.g.:

7d | 30d | 90d | 180d | Max

[2022-06-30 12:55] #1997 closed, assigned to 0xJem

[2022-06-30 13:18] 0xJem opened #2032 "[BUG] Switching to Ethereum L2 and back on the wrap page causes the app not to load"
Steps:
1. Connect your wallet on Ethereum
2. Using the in-app menu item, switch to Arbitrum
3. Select the wrap page
4. Use the in-app button (at the bottom) to return the Ethereum
5. App crashes and the screen becomes white. Won't reload.

Switching from Ethereum back to Arbitrum in metamask enables the app to reload.

https://user-images.githubusercontent.com/91760036/176687072-ec4b1ac4-91e9-4981

[2022-06-30 13:20] 0xJem commented on #2032
I assume this was caused by the shift to rainbowkit

[2022-06-30 16:55] brightiron commented on #2032
@0xJem  - does this happen with a specific wallet, or on a specific browser? I'm not able to reproduce this via the develop branch or on production :(

Noticed in your recording you're using a fleek preview URL, so just wondering if this is issue is currently isolated to a specific branch?

[2022-07-01 12:21] 0xJem opened #2033 "Chart dimensions are incorrect after resizing"
https://user-images.githubusercontent.com/91760036/176894056-89165c3e-529b-41e1-9302-dd2fbb5001ce.mp4

[2022-07-01 12:41] 0xJem opened #2034 "Expanded chart has duplicated tooltip"
![Screenshot of tooltip](https://cdn.discordapp.com/attachments/992393193524035645/992408369262510160/unknown.png)

Consider hiding the tooltip in expanded mode

[2022-07-01 13:09] 0xJem commented on #2032
Chrome browser and metamask

Happened for me on staging.olympusdao.finance too.

[2022-07-05 11:40] 0xJem commented on #2024
![Image](https://user-images.githubusercontent.com/91760036/177319451-7a67cf6c-9c65-4ab0-aa9d-49ef9af41932.png)

This is done

[2022-07-05 11:41] 0xJem commented on #2021
Also done

![Image](https://user-images.githubusercontent.com/91760036/177319567-fc34a6dd-5112-450c-9a36-6bbf00bbb0ac.png)

When backing < OHM, the area between the lines is red. OHM > backing, area is green. Awaiting feedback on this.

[2022-07-05 11:42] 0xJem commented on #2034
This is done

[2022-07-05 13:28] 0xJem commented on #2025
https://user-images.githubusercontent.com/91760036/177338911-8f30d160-832e-45d1-867c-b3b5d3c4ddb8.mp4

[2022-07-07 17:26] appleseed-iii opened #2046 "Review / Merge Tyche Updates #1723"
https://github.com/OlympusDAO/olympus-frontend/pull/1723

then merge master

[2022-07-07 19:34] brightiron opened #2049 "Transaction History on Wallet view should have an initial loading state/indicator (UI Polish)."

[2022-07-07 19:35] brightiron opened #2050 "Upgrade all Events to GA4"

[2022-07-12 00:01] #641 closed, assigned to nobody

[2022-07-14 19:37] appleseed-iii opened #2064 "Incur Debt - dapp (compatible with gnosis safe)"
### Current Status

Netbee is designing.

### Open Questions

1. Should this be publicly accessible? YES
    - create as a route, but don't put in sidebar
    - add notification "Unless you are a whitelisted protocol this page will not be functional for you"
        - surface this notification if they are NOT already an active borrower

2. Should this be in core dapp? YES
    - need to make core d

[2022-07-15 08:45] 0xJem commented on #2023
<img width="1096" alt="Screenshot 2022-07-15 at 12 44 49 PM" src="https://user-images.githubusercontent.com/91760036/179187970-a8405b1c-4687-4581-ba58-be1e3b779429.png">

[2022-07-15 08:46] 0xJem commented on #1941
This is done.

[2022-07-15 08:46] #1941 closed, assigned to 0xJem

[2022-07-15 08:48] 0xJem opened #2066 "Tooltips should have design consistent with component-library"
Can be implemented after https://github.com/OlympusDAO/component-library/issues/359

[2022-07-15 08:49] 0xJem opened #2067 "Add toggle between OHM/gOHM on dashboard"
The metrics and charts currently display relative to OHM, e.g OHM price vs liquid backing per OHM, liquid backing per OHM.

There has been a request for a toggle that would instead use gOHM as the base, e.g. liquid backing per gOHM, gOHM price vs liquid backing per gOHM.

Pre-reqs:
- Formula for calculating gOHM circulating supply

[2022-07-15 08:52] 0xJem opened #2068 "Remove usage of useProtocolMetrics"
The `useProtocolMetrics` hook is still used in the calculator. The usage should be migrated to a newer react-query hook and `useProtocolMetrics` removed.

[2022-07-15 08:53] 0xJem opened #2069 "Shift ToggleButtonGroup in TreasuryDashboard to use TabBar from component-library"
Waiting on: https://github.com/OlympusDAO/component-library/issues/353

[2022-07-15 09:21] 0xJem commented on #2068
The only usage of this is in the Calculator module (part of the Wallet). The Calculator component is not used. Should we remove it @appleseed-iii ?

[2022-07-19 14:12] 0xJem opened #2082 "Implement toggle to switch between market value and liquid backing"
The market value chart should have a toggle that will switch between market value and liquid backing.

When market value (and categories) is displayed, there should be an additional line that illustrates the liquid backing. And vice versa.

[2022-07-21 19:01] appleseed-iii opened #2088 "Add balancer pool to Wallet panel for Exchanges"
![Image](https://user-images.githubusercontent.com/80423742/180295395-bbc663ff-a8e9-40ea-86bf-2e69c8696dd3.png)

[2022-07-21 19:22] 0xJem opened #2089 "[BUG] Fleek build routinely fails"

[2022-07-21 19:23] 0xJem commented on #1438
Fleek CLI does not have enough features to be able to do this. Closing.

[2022-07-21 19:23] #1438 closed, assigned to nobody

[2022-07-21 19:27] 0xJem commented on #2068
Calculator not used. This can be removed.

[2022-07-21 19:27] 0xJem commented on #2068
Calculator can be removed too.

[2022-07-22 13:30] 0xJem opened #2091 "Snapshot tests fail unexpectedly"
When making changes to the treasury dashboard, snapshot tests in the give and wrap components started to fail, e.g. https://github.com/OlympusDAO/olympus-frontend/runs/7467525922?check_suite_focus=true and https://github.com/OlympusDAO/olympus-frontend/runs/7468203143?check_suite_focus=true

It seems to be related to the `css-ZZZZZZ-MuiPaper-root` CSS classes that MaterialUI generates.

[2022-07-25 18:45] brightiron commented on #2091
@0xJem , you should be able to safely update snapshots if the only thing thats changing are these css classes. Occasionally this is is a side-effect of component-library updates and the randomly assigned css properties change.

[2022-07-26 07:26] 0xJem commented on #2091
Ah, that's a fair point. Let me try that.

[2022-07-27 07:57] 0xJem commented on #2091
This was the cause, yes.

[2022-07-27 07:57] #2091 closed, assigned to nobody

[2022-07-27 07:59] 0xJem opened #2107 "Re-enable dashboard gOHM metrics"
Dependent on https://github.com/OlympusDAO/olympus-protocol-metrics-subgraph/issues/33

[2022-07-27 15:00] #1998 closed, assigned to 0xJem

[2022-07-27 15:00] #2021 closed, assigned to 0xJem

[2022-07-27 15:00] #2023 closed, assigned to 0xJem

[2022-07-27 15:00] #2024 closed, assigned to 0xJem

[2022-07-27 15:00] #2025 closed, assigned to 0xJem

[2022-07-27 15:00] #2033 closed, assigned to 0xJem

[2022-07-27 15:00] #2034 closed, assigned to 0xJem

[2022-07-27 15:00] #2066 closed, assigned to 0xJem

[2022-07-27 15:00] #2069 closed, assigned to 0xJem

[2022-07-27 15:00] #2082 closed, assigned to 0xJem

[2022-08-01 12:32] o0j4yj4y0o opened #2118 "Correct Market Value of Treasury Tool Tip"
Change:

"Market Value of Treasury Assets, is the sum of the value (in dollars) of all assets held by the treasury (Excluding pTokens and Vested tokens)."

to:

Market Value of Treasury Assets, is the sum of the value (in dollars) of all assets held by the treasury (Excluding pTokens).

We have vested tokens shows in the treasury breakdown and are working to break them down further by asset.

[2022-08-03 10:44] 0xJem commented on #2107
Waiting on the indexing for https://github.com/OlympusDAO/olympus-protocol-metrics-subgraph/pull/37 to complete, then this is ready to go.

[2022-08-05 10:59] 0xJem opened #2125 "Add additional y-axis ticks"

[2022-08-05 11:00] 0xJem opened #2126 "Add padding to bottom of screen on iOS Safari"

[2022-08-05 11:00] 0xJem opened #2127 "Expanded chart is not dismissible on mobile"

[2022-08-05 11:00] 0xJem opened #2128 "Switching between latest and previous date does not update holdings table"

[2022-08-08 07:47] 0xJem commented on #2126
There is 36px of padding on the bottom of the screen. Except on Safari iOS, where the bottom chart is obscured, even if the address bar is on top.

![Image](https://user-images.githubusercontent.com/91760036/183366689-f9596495-7dac-4e30-bf4c-ff2c5cee3313.PNG)
![Image](https://user-images.githubusercontent.com/91760036/183366688-99d05363-da5a-4c58-846f-5ec3cdeffee2.PNG)

[2022-08-08 07:54] 0xJem commented on #2126
This appears to affect all screens - it's not a problem introduced by the dashboard.

![Image](https://user-images.githubusercontent.com/91760036/183368138-e644e8fd-f52c-47cd-94e8-22eb8f54d7f4.PNG)

[2022-08-08 12:24] 0xJem commented on #2126
I created a component that provides an empty div with `padding-top: 80px` on iOS Safari. This has the effect of giving enough space for the content to appear above the address bar.

![Image](https://user-images.githubusercontent.com/91760036/183416963-4571df74-d2eb-4295-a39a-c28649e56b6b.PNG)

There is no app-wide footer, so we may want to add the same component to other screens. FYI @appleseed-ii

[2022-08-08 12:28] 0xJem commented on #2127
I made the height of the expanded chart slightly smaller, which ensures that the chart is dismissible on iOS.

![Image](https://user-images.githubusercontent.com/91760036/183417821-092e2100-12ee-440c-a29b-04700905d220.PNG)

[2022-08-08 12:29] 0xJem opened #2133 "Chart fill turns black after dismissing the expanded chart (iOS Safari)"
https://user-images.githubusercontent.com/91760036/183418475-e884201a-bd5f-4725-8a46-0ae1191839de.mp4

My hunch is that the name of the CSS styling for the expanded chart is the same as the standard one. When the expanded chart component is unmounted, it unmounts/unloads the CSS styles as well, and the standard chart subsequently doesn't have the CSS styles.

[2022-08-08 13:00] 0xJem commented on #2133
My hunch was right! Adding `-expanded` to the CSS styling of expanded charts fixed this.

[2022-08-08 13:13] 0xJem opened #2134 "Add timestamp & block number to chart tooltip"
Based on a discussion with json & @o0j4yj4y0o, we wanted to add the timestamp and block number to tooltips, in addition to the date that was already present. This would give some sense of when the subgraph had been updated till.

[2022-08-08 13:17] 0xJem commented on #2134
Timestamp adds too much information. The block number should do.

![Image](https://user-images.githubusercontent.com/91760036/183426912-b3f3e9d7-2988-4ae6-b681-e49659c52208.png)

[2022-08-11 12:17] #2107 closed, assigned to 0xJem

[2022-08-11 12:20] #2118 closed, assigned to 0xJem

[2022-08-11 12:20] #2126 closed, assigned to 0xJem

[2022-08-11 12:20] #2127 closed, assigned to 0xJem

[2022-08-11 12:20] #2128 closed, assigned to 0xJem

[2022-08-11 12:20] #2133 closed, assigned to 0xJem

[2022-08-11 12:20] #2134 closed, assigned to 0xJem

[2022-08-11 12:20] #2125 closed, assigned to 0xJem

[2022-08-15 12:28] o0j4yj4y0o opened #2182 "Create Editable Warning / Maintenance Mode Banner for Treasury Dash"
Create an editable Banner that will allow communication through the Treasury Dash if we have known gaps or inconsistencies that need to be pushed to stakeholder.  This should be something that can be easily edited by several permissioned people to ensure we have proper coverage.

[2022-08-22 05:35] 0xJem opened #2158 "Link to the OHM-FRAX pool is incorrect"
Tutti pointed out that that TVL of the OHM-FRAX pool listed on the stake page seems to be incorrect.
Relwyn then pointed out that the pool that we're linking to is incorrect (hence the TVL is lower than expected), and that the correct one is: https://facts.frax.finance/pools/0x38633ed142BCc8128b45aB04A2e4A6e53774699F

[2022-08-22 06:23] 0xJem commented on #2158
So we have an issue with this @brightiron @appleseed-iii .

While we can provide the correct link to the pool, it does not show up in the Frax API (because I believe it's part of FraxSwap and not the previous pool product?) that is used in our codebase to determine APY.

What we can use is the fraxswap subgraph: https://thegraph.com/explorer/subgraph?id=9MAjo2x53jaxttJpShGh2EfSVAoDMW7vK36uU5cawQz2

[2022-08-23 18:32] appleseed-iii opened #2168 "display if approvals to stake/unstake are less than the amount is trying to stake/unstake"
currently our frontend approves the user for a large quantity to be spent by the staking contract for stake/unstake. However, some users manually set a smaller quantity. Later they forget that they set a small approval quantity & when they try to unstake more than their approval they get a `transferFrom` error, which is unintuitive.

Would be better to show a warning that their approval is only fo

[2022-08-23 18:36] #2158 closed, assigned to 0xJem

[2022-08-24 13:53] brightiron commented on #2089
This should now be resolved. I tracked down the issue to CI sometimes randomly building on another fleek account, with a different base image.
That integration has since been removed, and it looks like builds are consistently passing now.
Will keep this in review for now.

[2022-08-25 06:47] 0xJem commented on #2182
@o0j4yj4y0o The _simplest_ method for editing this banner would be to have this in code and push a new release whenever we need to update the banner. Does that sound ok?

[2022-08-26 12:11] 0xJem opened #2184 "Add graph for OHM supply"

[2022-08-26 12:16] 0xJem commented on #2184
Now that we have easier access to token supply data and quick indexing, the supply chart is more useful.

With data till May, here is what it shows:

<img width="1102" alt="Screenshot 2022-08-26 at 4 12 16 PM" src="https://user-images.githubusercontent.com/91760036/186900790-05587fa7-e04e-470b-b112-8618dee9de6e.png">

I can spot a subtle divergence between floating and circulating supply, but I'm

[2022-08-26 12:33] 0xJem commented on #2184
I think I have a solution. Charting floating and circulating supply, relative to total supply.
<img width="1094" alt="Screenshot 2022-08-26 at 4 30 37 PM" src="https://user-images.githubusercontent.com/91760036/186903861-6582629c-44a9-47b6-9b74-bfbaa5f79fa5.png">

I will commence indexing back to January 1st, before IB, and see if this makes any difference.

[2022-08-27 19:45] appleseed-iii commented on #2089
yea definitely seems 100% resolved

[2022-08-27 19:45] #2089 closed, assigned to brightiron

[2022-08-27 19:47] appleseed-iii commented on #1275
closing this. this page has been redesigned & will be deployed "soon". if we still have issues we can open a new ticket.

[2022-08-27 19:47] #1275 closed, assigned to nobody

[2022-08-27 19:49] appleseed-iii commented on #598
closing since this is stale & this feature has completly changed

[2022-08-27 19:49] #598 closed, assigned to nobody